


{% extends "base.html" %}
{% block ustkomple %}{%endblock%}
{% block navbar %}
<a href="{{shop_base}}/">{{ shop_name }}</a><a href={% url kup_account_info %}>Müşteri Hizmetleri </a>Parola Yenileme
{% endblock %}

{% block icerik %}
<div class="ortalayici">
  <table width="513" height="76" border="0" cellpadding="0" cellspacing="0">
  <tr>
     <td width="6" height="22"><img src="/static/grafik/m1sol.gif" /></td>
    <td background="/static/grafik/m1orta.gif" class="detay_ust" ><span class="beyaz_yazi"><center>Parolamı Yenile</center></span></td>
    <td width="6" height="22"><img src="/static/grafik/m1sag2.gif" /></td>
  </tr>
  <tr>
    <td valign="top" colspan="3"><table width="513" border="0" cellpadding="3" cellspacing="3">
      <tr>
        <td width="135"><div align="center"><img src="/static/grafik/yenile.jpg" /></div></td>
        <td width="430"><p><b>Parolanızı mı unuttunuz?</b><br />Eposta adresinizi girin ve yeni parolanızı eposta adresinize yollayalım.</p>

<form action="" method="post">

	{% if form.email.errors %}
		<p class="error">{{ form.email.html_error_list }}</p>
	{% endif %}
	<label for="id_email">E-posta adersiniz:</label> {{ form.email }}
	<p class="kucuk_yazi">*Sitemize üye olurken kullandığınız eposta adresini girdiğinize emin olunuz.</p>
    <input id="id_submit" type="submit" value="Gönder" />

</form></td>
      </tr>
    </table></td>
  </tr>

</table>
  

</div>
{% endblock %}
