{% extends "base.html" %}
{% load i18n %}

{% block ustkomple %}{%endblock%}
{% block navbar %}
<a href="{{shop_base}}/">{{ shop_name }}</a><a href={% url kup_account_info %}>Müşteri Hizmetleri </a>Yeni Üyelik
{% endblock %}

{% block icerik %}
<div class="ortalayici">

  <table width="513" height="76" border="0" cellpadding="0" cellspacing="0">
  <tr>
     <td width="6" height="22"><img src="/static/grafik/m1sol.gif" /></td>
    <td background="/static/grafik/m1orta.gif" class="detay_ust" ><span class="beyaz_yazi"><center>
      Üye Kayıt
    </center>
    </span></td>
    <td width="6" height="22"><img src="/static/grafik/m1sag2.gif" /></td>
  </tr>
  <tr>
    <td valign="top" colspan="3"><table width="513" border="0" cellpadding="3" cellspacing="3">
      <tr>
        <td valign="top" width="154"><div align="right"><br />
              <br />
          <img src="/static/grafik/register.jpg" /></div></td>
        <td width="411">
        <h1>Lütfen üyelik bilgilerinizi giriniz;<br />
        </h1>
        
              <table cellpadding="1" cellspacing="1" border="0">


<form method="post" action=".">

    <tr><td><label for="id_email">Eposta Adresi</label>:</td><td><input name="email" type="text" id="id_email" size="30" maxlength="30" />{% if form.email.errors %}<br />*** {{ form.email.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

    <tr><td><label for="id_first_name">Ad</label>:</td><td><input name="first_name" type="text" id="id_first_name" size="30" maxlength="30" />{% if form.first_name.errors %}<br />*** {{ form.first_name.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

    <tr><td><label for="id_last_name">Soyad</label>:</td><td><input name="last_name" type="text" id="id_last_name" size="30" maxlength="30" />{% if form.last_name.errors %}<br />*** {{ form.last_name.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

    <tr><td><label for="id_password">Parola</label>:</td><td><input name="password" type="password" id="id_password" size="30" maxlength="30" />{% if form.password.errors %}<br />*** {{ form.password.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

    <tr><td><label for="id_password2">Parola (tekrar)</label>:</td><td><input name="password2" type="password" id="id_password2" size="30" maxlength="30" />{% if form.password2.errors %}<br />*** {{ form.password2.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

    <tr><td><label for="id_newsletter_0">Haber bülteni</label>:</td><td>
<label><input type="radio" id="id_newsletter_0" value="1" name="newsletter" /> Evet</label>&nbsp;&nbsp;
<label><input type="radio" id="id_newsletter_1" value="0" name="newsletter" /> Hayır</label>
{% if form.newsletter.errors %}<br />*** {{ form.newsletter.errors|join:", " }}{% endif %}</td></tr>
    <tr><td></td><td></td></tr>

<tr><td></td><td><input type="submit" value="Hesabımı Oluştur"/></td></tr>
</form>
</table></td>
      </tr>
    </table></td>
  </tr>

</table>



</div>
{% endblock %}
