{% extends "admin/change_form.html" %}

{% load wysiwyg i18n%}

{% block extrahead %}
    {{ block.super }}
    {% wysiwyg_setup %}
{% endblock %}

{% block content %}
    {{ block.super }}
{% block object-tools-items %}{{ block.super }}<li>
    {% if not request.GET.nohtml %}
        <a href="./?nohtml=1" class="historylink">{% trans "Turn Off Html Editor" %}</a>
    {% else %}
        <a href="./" class="historylink">{% trans "Turn On Html Editor" %}</a>
    {% endif %}
    </li>
{% endblock %}
    {% if not request.GET.nohtml %}
    {% wysiwyg_editor "id_ceviriler_set-0-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-1-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-2-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-3-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-4-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-5-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-6-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-7-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-8-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-9-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-10-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-11-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-12-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-13-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-14-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-15-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-16-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-17-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-18-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-19-ceviri" %}
    {% wysiwyg_editor "id_ceviriler_set-20-ceviri" %}
    {% endif %}
{% endblock %}
