{% extends "admin/change_form.html" %}

{% load wysiwyg %}

{% block extrahead %}
    {{ block.super }}
    {% wysiwyg_setup %}
{% endblock %}
{#{% block form_top %}#}
{#  <p>Insert meaningful help message here...</p>#}
{#{% endblock %}#}
{% block content %}
    {{ block.super }}
    {% wysiwyg_editor "id_icerik_set-0-metin" %}
    {% wysiwyg_editor "id_icerik_set-1-metin" %}
    {% wysiwyg_editor "id_icerik_set-2-metin" %}
    {% wysiwyg_editor "id_icerik_set-3-metin" %}
    {% wysiwyg_editor "id_icerik_set-4-metin" %}
    {% wysiwyg_editor "id_icerik_set-5-metin" %}
    {% wysiwyg_editor "id_icerik_set-6-metin" %}
    {% wysiwyg_editor "id_icerik_set-7-metin" %}
    {% wysiwyg_editor "id_icerik_set-8-metin" %}
    {% wysiwyg_editor "id_icerik_set-9-metin" %}
    {% wysiwyg_editor "id_icerik_set-10-metin" %}
    {% wysiwyg_editor "id_icerik_set-11-metin" %}
    {% wysiwyg_editor "id_icerik_set-12-metin" %}
    {% wysiwyg_editor "id_icerik_set-13-metin" %}
    {% wysiwyg_editor "id_icerik_set-14-metin" %}
    {% wysiwyg_editor "id_icerik_set-15-metin" %}

{% endblock %}
