{% extends "content.html" %}
{% load i18n thumbnail currency%}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <div class="altiOkutu">
        <div class="kutuici">



                <div style="height:350px;width:680px;padding-top:70px;">
                    <img style="float:left;" src="{{ STATIC_URL }}images/ganiman-sorry.png" >
                <div style="width:440px;;float:left;">
                    <div class="triangle-border left">
                    <h3>{% trans "Page not found!" %}</h3>

                    {% trans "Sorry, but we can't find the page you are looking for. Our team is informed about the broken link. " %}
                        <br><br>
                                        <a style="text-decoration:none;" href="javascript:history.back()">&laquo; {% trans "Go to back" %}</a>
                    </div>
                </div>

                </div>
            </div>
                        </div>




{% endblock %}
