{% extends "content.html" %}
{% load i18n %}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <div class="altiOkutu">
        <div class="kutuici">


                <div style="height:350px;width:680px;padding-top:70px;">
                    <img style="float:left;" src="{{ STATIC_URL }}images/ganiman-sorry.png" >
                <div style="width:460px;float:left;margin-left:-10px;">
                    <div class="triangle-border left">
                    <h3>{% trans "Oops! That should not happen" %}</h3>

                    {% trans "An unexpected error occured. Our team is informed and problem should be fixed soon." %}
                        <br><br>
                    {% trans "Sorry for the inconvenience." %}
                    </div>
                </div>

                </div>
            </div>
                        </div>


{% endblock %}
