{% load  i18n cevir%}
<script>place_photos = {{ photos }};</script>
<div id="wfHeader">
<div id=wfhdr1 class="wfhdr home piee">
    <h3>{% cevir "mes1 baslik" %}</h3>
    {% cevir "mes1 slogan" %}
</div>
<div id=wfhdr2 class="wfhdr sakli location piee">
    <h3>{% cevir "mes2 baslik" %}</h3>
    {% cevir "mes2 slogan" %}</div>
<div id=wfhdr3 class="wfhdr define sakli piee">
    <h3>{% cevir "mes3 baslik" %}</h3>
    {% cevir "mes3 slogan" %}
</div>
</div>
<script>host_fee = {{ host_fee }};</script>
<div id=wfContainer>
    <form action="." method="post" id="addplaceform">
        <div id="wf">
            <div id="form1" class="wfParts">
                {% if form.errors %}
                    {% for er in form.errors %} {{ err }}{% endfor %}
                {% endif %}
            {% if form.phone %}
                <p>{{ form.phone.label_tag }} {{ form.phone }}
                    <span class="helptext">{% trans "Your phone number will not be published and will be used to contact you by GaniHomes staff." %}</span>
                </p>
            {% endif %}
                <p>{{ form.title.label_tag }} {{ form.title }}</p>
                <p>{{ form.type.label_tag }} {{ form.type }}</p>

                <p>{{ form.space.label_tag }} {{ form.space }}</p>

                <p>{{ form.bedroom.label_tag }} {{ form.bedroom }}</p>

                <p>{{ form.capacity.label_tag }} {{ form.capacity }}</p>

                <p>{{ form.size.label_tag }} {{ form.size }} {{ form.size_type }}</p>

                <p style="position:relative">{{ form.price.label_tag }} {{ form.price }} {{ form.currency }} <div id="yourpayout">
                <div id="yptitle">{% trans "Your Total Payout" %}</div>
                <div id="ypdv">
                <span id="ypservicefee">- {{ str_fee }} = </span>  <span  id="yprice"></span></div>
                </div>
                </p>


                <p>{{ form.min_stay.label_tag }} {{ form.min_stay }}</p>

                <p>{{ form.max_stay.label_tag }} {{ form.max_stay }}</p>

                <p>{{ form.cancellation.label_tag }} {{ form.cancellation }}</p>
                <button id="gotomap"  class="yesildugme fsag">1/3 {% trans "Continue" %}</button>
            </div>
            <div id="form2" class="wfParts">
                {#                <div style="position:relative">#}

                <div id="adres_form" class="to_neverland">
                    <div style="height: 20px;padding-right: 18px; margin-top: -19px;">
                    <button class="minidugme fr" onclick="return gh.gcGosterGizle()">{% trans " :: Show Map :: " %}</button>
                        </div>
                    <p>{{ form.country.label_tag }} {{ form.country }}</p>

                    <p>{{ form.state.label_tag }} {{ form.state }}</p>

                    <p>{{ form.city.label_tag }} {{ form.city }}</p>

                    <p>{{ form.district.label_tag }} {{ form.district }}</p>

                    <p>{{ form.neighborhood.label_tag }} {{ form.neighborhood }}</p>

                    <p>{{ form.street.label_tag }} {{ form.street }}</p>

                    <p>{{ form.postcode.label_tag }} {{ form.postcode }}</p>
                    {{ form.lat }}{{ form.lon }}

                    <button type="button" class="yesildugme fsag" id="gotodetails">{% trans "2/3 Continue"%}</button>
                </div>

                <div id="adres_harita">
                      <span style="font-size:16px;color:#666666;">
                          {% cevir "mes harita yardim" %}
                          <span style="font-size:smaller"> ({% cevir "mes harita ornek" %})</span></span><br>
                    {{ form.address }}
                    <input type="button" value="{% trans "Find" %}" id="addrFindBut" class="yemyesildugme">

                    <div id="map_canvas"></div>
                </div>
                <br><a href="#" onclick="gh.changeForm(1)">&laquo; {% trans "Go Back" %}</a>
                {#                </div>#}

            </div>
            <div id="form3" class="wfParts">

                    <div id="paccordion">
                    <h3><span class="nums">1</span><a href="#">{% cevir "mes3 ozellikler baslik" %}</a></h3>

                    <div>
                        {% cevir "mes3 ozellikler metin" %}
                        <p>{{ form.description }}</p>
                    </div>
                    <h3><span class="nums">2</span><a href="#">{% cevir "mes3 tesisler baslik" %}</a></h3>

                    <div id="place_tags">
                        {% cevir "mes3 tesisler metin" %}
                        <ul id="editamenul">
                            {% for t in tags %}
                            <li><label for="id_tags_{{ forloop.counter0 }}"><input type="checkbox" name="tags" value="{{ t.tag_id }}" id="id_tags_{{ forloop.counter0 }}" {% if t.tag_id in existing_tags %}checked=1{% endif %}/> {{ t.translation }} {% if t.help %}<span class="mhelp" title="{{ t.help }}"></span>{% endif %}</label></li>
                            {% endfor %}

                        </ul>
                    </div>
                    <h3><span class="nums">3</span><a href="#">{% cevir "mes3 kurallar baslik" %}</a></h3>

                    <div>
                        {% cevir "mes3 kurallar metin" %}
                        <p>{{ form.rules }}</p>
                    </div>
                    <h3><span class="nums">4</span><a href="#">{% cevir "mes3 kilavuz baslik" %}</a></h3>

                    <div>
                        {% cevir "mes3 kilavuz metin" %}
                        <p>{{ form.manual }}</p>
                    </div>
                    <h3><span class="nums">5</span><a href="#">{% cevir "mes3 fotoekle baslik" %}</a></h3>
                    <div>
                        {% cevir "mes3 fotoekle metin" %}

                        <button id="fileuploadbutton" onclick="$('#fileupload').trigger('click');return false;" class="yemyesildugme fr" style="margin-bottom:5px">{% trans "Upload a new photo" %}</button>
                        <input id="fileupload"  type="file" name="files[]" multiple>
                        <div id="fileupload-progress"></div>
                        <script type="text/x-jqote-template" id="upPlacePhotosTpl">
                                                <![CDATA[
                                        <div id="img_<%=this%>"><img src="{{ STATIC_URL }}/yuklemeler/place_photos/<%=this%>_xxs.jpg">
                                        <img class="delete" data-imgid="<%=this%>" src="{{ STATIC_URL }}/images/icon/delete_12.png">
                                         </div>
                                                ]]>

                                            </script>
                        <div id="uploaded">
                        </div>
                        <ul id="fotouploadtips">
                            <li>{% trans "You can reorder your photos via dragging with mouse." %}</li>
                            <li>{% trans "Located in the first place photo will be used as the primary photo." %}</li>
                        </ul>
                    </div>
                </div>
                <br><a href="#" onclick="gh.changeForm(2)">&laquo; {% trans "Go Back" %}</a>

                <button id="apbutton3" type="button" class="yesildugme fsag">{% trans "Save" %}</button>

            </div>

        </div>
        {% csrf_token %}
    </form>
</div>

