{% extends "content.html" %}
{% load cevir %}
{% block content %}
    <div class="altikutu">
{% include "add_place_wizard.html" %}
    </div>
<div class="ikikutu">


<h3>{% cevir "mes Sağ Blok Başlık" %}</h3>
    <hr>

    <div id="addplacevidbutton" onmousedown="gh.playPopupVideo('addplacevid','addplace-{% if LANGUAGE_CODE == 'tr' %}tr{% else %}en{% endif %}.flv')">
        <div>{% cevir "mes video" %}</div>
    </div>


{% cevir "Mekan Ekleme Sihirbazı Sağ Blok İçeriği" %}

    </div>

    <div id="addplacevid" style="display:none;">

    </div>
{% endblock %}
