{% extends "content.html" %}
{% load i18n currency%}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <form action="." method="post">
    <div class="altiOkutu">
        <div class="kutuici">

            <div class="iblock" >

            <div style="background-color:#fff;" class="bookpart">
                <h3>{% trans "How it works" %}</h3>

                Provide your booking details below. You will not be charged unless the host accepts your request. They'll have 24 hours to reply.<br>
                If the host declines or does not respond, no charge is made. Then you can try booking those dates with someone else.


            </div>
            <div class="bookpart">
                <h3>{% trans "Property details" %}</h3>
                <div id="bookinplace">
                    <img  src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ place.id }}_plkks.jpg">
                    <span class="booksubtitle">{{ place.title }}</span><br>
                    {{ place.city}} - {{ place.district }} {{ place.get_country_display }}
                    <br>
                    {{ place.get_type_display }} / {{ place.get_space_display }}
                    <br>


                </div>
                <div id="bookinhost">

                </div>
            </div>

                <div class="bookpart"><h3>{% trans "Travel Details & Pricing" %}</h3>


                    <div id="bookdetail" class="iblock">
                    <span class="ozz_label">{% trans "Check-in" %}</span> <span class="ozz_value">{{ ci|date:"d F Y l" }}</span>
                    <span class="ozz_label">{% trans "Check-out" %}</span> <span class="ozz_value">{{ co|date:"d F Y l" }}</span>
                    <span class="ozz_label">{% trans "Nights" %}</span> <span class="ozz_value">{{ ndays }}</span>
                    <span class="ozz_label">{% trans "Guests" %}</span> <span class="ozz_value">{{ guests }}</span>

                    {% if prices.mdiscount %}
                        <span class="ozz_label">{% trans "Monthly discount" %}</span>
                        <span class="ozz_value">
                        {% if crrpos == 1%} {{ crr }} {{ prices.mdiscount|currency }}
                        {% else %}{{ prices.mdiscount|currency }} {{ crr }}{% endif %}
                        </span>
                    {% endif %}
                    {% if prices.wdiscount %}
                        <span class="ozz_label">{% trans "Weekly discount" %}</span>
                        <span class="ozz_value">
                        {% if crrpos == 1%} {{ crr }} {{ prices.wdiscount|currency }}
                        {% else %}{{ prices.wdiscount|currency }} {{ crr }}{% endif %}
                        </span>
                    {% endif %}

                    {% if prices.guest_fee %}
                        <span class="ozz_label">{% trans "Service fee" %}</span>
                        <span class="ozz_value">
                        {% if crrpos == 1%} {{ crr }} {{ prices.guest_fee|currency }}
                        {% else %}{{ prices.guest_fee|currency }} {{ crr }}{% endif %}
                        </span>
                    {% endif %}
                    {% if prices.cleaning_fee %}
                        <span class="ozz_label">{% trans "Cleaning fee" %}</span>
                        <span class="ozz_value">
                        {% if crrpos == 1%} {{ crr }} {{ prices.cleaning_fee|currency }}
                        {% else %}{{ prices.cleaning_fee|currency }} {{ crr }}{% endif %}
                        </span>
                    {% endif %}



                        <span class="ozz_label">{% trans "Total price" %}</span> <span class="ozz_value">
                        {% if crrpos == 1%} {{ crr }} {{ prices.total|currency }}
                        {% else %}{{ prices.total|currency }} {{ crr }}
                        {% endif %}
                    </span>
                    </div>



                </div>
{#                <div class="bookpart"><h3>{% trans "Additional Information" %}</h3></div>#}
                <div class="bookpart"><h3>{% trans "Payment" %}</h3>
                    After clicking "Book it using PayPal" you will be redirected to PayPal to complete payment.
                    You must complete the process to finalize the booking request. Actual payment will be done after
                    host accepts your request. If the host declines or does not respond in 24h, no charge is made.
                    <div style="width:100%;text-align:center;margin-top:20px;">
                        {% csrf_token %}
                    <input name="paypal" type="submit" class="yemyesildugme fo16" value="{% trans "Book It using PayPal" %}">

                        {% if errors %}<div class="warn red">{{ errors }}</div>{% endif %}
                    </div>














                </div>


            </div>
        </div>
    </div>


</form>
{% endblock %}
