{% extends "content.html" %}
{% load thumbnail %}
{% block extrajs %}
<script src="{{ STATIC_URL }}/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}/js/jquery.fileupload.js"></script>
<script>$(document).ready(function(){gh.dashboardInit()})</script>
{% endblock %}
{% block content %}
    <div class="dokuzkutu" >



        <div id="menuccordion">
                       	<h3><a href="#">Genel Bakış</a></h3>
                       	<div>
                            <ul>
                                <li class="btn show_dash">Hızlı Görünümü Göster</li>
                                <li class="btn do_dbAddPlaceWizzard">Yeni Mekan Ekle</li>

                            </ul>
                       	</div>
                         	<h3><a href="#">Ayarlar</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Mesajlar</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Mekanlarım</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Gezilerim</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Favorilerim</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Yorumlarım</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Arkadaşlarım</a></h3>
                       	<div>

                       	</div>


        </div>
<div id="dbcontent">

    <div class="dbcontent" id="loading"></div>
    <div class="dbcontent" id="dash">
    <div  class="info">Gösterilecek yeni bir ileti ya da etkinlik yok.</div>
     <ul class="dugmul">
         <li class="btn do_dbAddPlaceWizzard"><img src="{{ STATIC_URL }}/images/home-68.png"><h6>Yeni Mekan Ekle </h6></li>
        {% for p in places %}
        <li>
            <img src="{% thumbnail p.primary_photo 80x80 crop=smart %}">
            <h6>{{ p.title|slice:":40" }}</h6>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="dbcontent gizli " id="addplace_wizard"></div>
<div class="dbcontent gizli " id="editplace_wizard"></div>


</div>
    </div>


{% endblock %}
