{% extends "content.html" %}
{% load i18n currency cevir %}
{% block extrajs %}
    {#<script src="{{ STATIC_URL }}/js/jquery.iframe-transport.js"></script>#}
    {#<script src="{{ STATIC_URL }}/js/jquery.fileupload.js"></script>#}
    <script>place_photos = [];</script>
{% endblock %}
{% block content %}

    <div class="dokuzkutu ieg" style="padding:0">
        <div id="dokuzbar">
            <div id=message><span>{% trans "My Account" %}</span>
            </div>

        </div>

        <div id="dokuzic">
            <div id="menublok">
                <ul id="menuccordion">
                <li>
                    <div class="btn show_dash focused" id="mcoverview"><a href="#">{% trans "My Wall" %}</a></div>
                </li>

                <li>
                    <div id="mcpref"><a href="#">{% trans "Account Settings" %}</a></div>
                    <ul>
                        <li class="btn do_editProfile">{% trans "Edit Profile" %}</li>
                        <li class="btn do_editPayment">{% trans "Payout Options" %}</li>
                        <li class="btn do_changePassword">{% trans "Change Password" %}</li>

                    </ul>
                </li>
                <li>
                    <div id="mcreview"><a href="#">{% trans "Reviews" %}</a></div>
                    <ul>
                        <li data-param="byyou" class="btn do_showReviews">{% trans "Reviews By You" %}</li>
                        <li data-param="aboutyou" class="btn do_showReviews">{% trans "Reviews About You" %}</li>

                    </ul>
                </li>
                <li>
                    <div class="btn do_showMessages" id="mcmess"><a href="#">{% trans "Messages" %} </a></div>

                <li>
                    <div class="btn do_listPlaces" id="mcmyplace"><a href="#">{% trans "My Places" %}</a></div>
                    <ul>
                        <li class="btn do_dbAddPlaceWizzard">{% trans "Add New Place" %}</li>
                        <li class="btn do_listPlaces">{% trans "Listings" %}</li>
                        <li class="btn do_showRequests">{% trans "Requests" %}</li>

                    </ul>
                </li>
                <li>
                    <div id="mctrips"><a href="#">{% trans "My Trips" %}</a></div>
                    <ul>
                        <li data-param="current" class="btn do_trips">{% trans "Current" %}</li>
                        <li data-param="1" class="btn do_trips">{% trans "Upcoming" %}</li>
                        <li data-param="2" class="btn do_trips">{% trans "Past" %}</li>
                        <li data-param="3" class="btn do_trips">{% trans "Bookmarked Places" %}</li>
                    </ul>
                </li>
                <li>
                    <div id="mcfriends"><a href="#">{% trans "Friends" %}</a></div>
                    <ul>
                        <li class="btn do_showFriends">{% trans "My Friends" %}</li>
                        <li class="btn do_inviteFriend">{% trans "Invite a Friend" %}</li>
                    </ul>
                </li>
                <li>
                    <div id="mchelp"><a href="#">{% trans "Help & Support" %}</a></div>
                    <ul>
                        <li class="btn do_showFaq">{% trans "FAQ" %}</li>
                        <li class="btn do_supportCreate">{% trans "I have a question!" %}</li>
                    </ul>
                </li>


            </ul>
            </div>
            <div id="dbcontent">

                <div class="dbcontent" id="loading"></div>
                <div class="dbcontent" id="dash">

                <div class="dasblok wx hx">
                <h5>{% trans "Inbox" %}</h5>
                <div id="inbox-legend">
                    <span class="lnew">{% trans "New" %}</span>
                    <span class="lread">{% trans "Read" %}</span>
                    <span class="lreplied">{% trans "Replied" %}</span>
                </div>
                    <div id="overview_inbox">
                        {% if msgs %}
                                {% for m in msgs %}
                                <div class="overline" onclick="gh.showMessage({{ m.id }})">
                                    <span class="l{{ m.icon }} messageicon"></span>
                                    {{ m.line }}
                                </div>
                                {% endfor %}
                        {% else %}{% trans "No new messages" %}<br><br><br>{% endif %}

                    </div>
                </div>

                <div class="dasblok wx">
                <h5>{% trans "Booking Requests" %}</h5>
                        <div id="overview_inbox">
                            {% if bookings %}
                                    {% for b in bookings %}
                                    <div class="overline" onclick="gh.showBookingRequest({{ b.id }})">
                                        <span class="{% if b.host == user %}youhost{% endif %} bookingicon"></span>
                                        {{ b.place.title }}
                                    </div>
                                    {% endfor %}
                            {% else %}{% trans "You dont have any booking requests." %}<br><br><br>{% endif %}

                        </div>
                </div>

                {% if places %}
                    <div class="dasblok w2x">
                    <h5>{% trans "My Places" %}</h5>
                    <div id="overview_places">
                        <ul class="dugmul">
                            <li class="btn do_dbAddPlaceWizzard"><img src="{{ STATIC_URL }}/images/home-68.png">
                                <h6>{% trans "Add New Place" %} </h6></li>
                            {% for p in places %}
                                <li style="cursor:pointer" onclick="gh.editPlaceWizzard({{ p.id }})">
                                    <img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ p.id }}_plks.jpg">
                                    <h6>{{ p.title|slice:":40" }}</h6>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>

                {% endif %}
                    <div class="dasblok w2x">
                        <h5>{% trans "Bookmarked Places" %}</h5>
                        <div id="overview_bookmarks">

                            {% if bookmarks %}
                                <ul class="dugmul">
                                    {% for p in bookmarks %}
                                        <li style="cursor:pointer" onclick="document.location='{% url show_place  p.id%}'">
                                            <img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ p.id }}_plks.jpg">
                                            <h6>{{ p.title|slice:":40" }}</h6>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}{% trans "You haven't bookmarked any place yet." %}<br><br><br>{% endif %}

                        </div>
                     </div>
                </div>


                <div class="dbcontent gizli " id="addplace_wizard"></div>
                <div class="dbcontent gizli " id="results"></div>
                <div class="dbcontent gizli " id="generic"></div>
                <div id="dlg" class="gizli"></div>

            </div>
        </div>
    </div>

{% endblock %}
