{% extends "content.html" %}
{% load thumbnail %}
{% block extrajs %}
<script>$(document).ready(function(){gh.dashboardInit()})</script>
{% endblock %}
{% block content %}
    <div class="dokuzkutu" >



        <div id="menuccordion">
                       	<h3><a href="#">Genel Bakış</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Ayarlar</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Mesajlar</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Mekanlarım</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Gezilerim</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Favorilerim</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Yorumlarım</a></h3>
                       	<div>

                       	</div>
                         	<h3><a href="#">Arkadaşlarım</a></h3>
                       	<div>

                       	</div>


        </div>
<div id="dbcontent">
    <dir class="info">Gösterilecek yeni bir ileti ya da etkinlik yok.</dir>
     <ul class="dugmul">
         <li>Yeni Mekan Ekle</li>
         <li>Mekanlarımı Listele</li>
         <li></li>
         <li></li>
         <li></li>
     </ul>

</div>


</div>


{% endblock %}
