{% extends "content.html" %}
{% load thumbnail i18n currency cevir %}
{% block content %}
    {% for cat_name,questions  in faq%}
<ul class="faqcats">
    <li>
        <div><a href="#">{{ cat_name }}</a></div>
        <ul class="faqcat">
            {% for q in questions %}
                        <li>
                            <div><a href="#">{{ q.question }}</a></div>
                            <ul>
                                <li class="">{{ q.answers }}</li>
                            </ul>
                        </li>

                {% endfor %}
        </ul>

</ul>
    {% endfor %}
{% endblock %}
