{% extends "content_boxed.html" %}
{% load i18n  cevir %}
{% block content %}
    <h3>{% cevir "faq baslik" %}</h3>

{% include "faq_ic.html" %}
{% endblock %}
{% block sidebar %}
    <h3>{% cevir "faq yancubuk baslik" %}</h3>
    <hr>
    {% cevir "faq yancubuk altmetin" %}
<p></p>
<p></p>
    <div id="questboxdiv"><form action="{% url contact_box %}" method="post">
        {% csrf_token %}
<input class="innput" id="fullname" name="fullname" value="{% trans "Name" %}">
<input class="innput" id="email" name="email" value="{% trans "E-mail" %}">
<textarea class="innput" name='msg' id="msg">{% trans "Enter your message" %}</textarea>
<input type="submit" class="minidugme" value="{% trans "Send" %}">
    </form>
    </div>
{%  endblock  %}
