{% load thumbnail i18n currency cevir %}
    <h3>{% cevir "faq baslik" %}</h3>

<a class="expclp fr" href="#">[ <span class="ea">+ {% trans "Expand All" %}</span><span class="ca">- {% trans "Collapse All" %}</span> ]</a>
<ul class="faqcats">
    {% for cat_name,questions  in faq%}
    <li>
        <div><a href="#">{{ cat_name }}</a></div>
        <ul class="faqcat">
            {% for q in questions %}
                        <li>
                            <div><a href="#">{{ q.question }}</a></div>
                            <ul>
                                <li class="">{{ q.answer }}</li>
                            </ul>
                        </li>

                {% endfor %}
        </ul>
        <div style="width:100%;height:1px;display:inline-block;"></div>
    </li>

    {% endfor %}
</ul>

