{% extends "content_bigboxed.html" %}
{% load i18n cevir%}
{% block extracss %}
    <style type="text/css">
    <!--
    .kapsar {
        width: 940px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        height: 1278px;
    }

    #apDiv1 {
        position: absolute;
        left: 19px;
        top: 23px;
        width: 898px;
        height: 70px;
        z-index: 1;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #666666;

    }

    #apDiv2 {
        position: absolute;
        left: 443px;
        top: 109px;
        width: 476px;
        height: 275px;
        z-index: 1;

    }

    #apDiv3 {
        position: absolute;
        left: 21px;
        top: 118px;
        width: 403px;
        height: 72px;
        z-index: 1;

    }

    #apDiv4 {
        position: absolute;
        left: 21px;
        top: 223px;
        width: 402px;
        height: 82px;
        z-index: 1;
    }

    #apDiv5 {
        background-color: #F5F5F5;
        border: 1px solid #CFCFCF;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        color: #FF9900;
        font-family: Geneva,Arial,Helvetica,sans-serif;
        font-size: 22px;
        font-weight: bold;
        height: 106px;
        left: 21px;
        padding: 10px;
        position: absolute;
        text-shadow: 1px 1px 1px #000000;
        top: 442px;
        width: 896px;
        z-index: 1;
    }

    #apDiv6 {
        color: #FF9900;
        font-size: 14px;
        height: 70px;
        left: 19px;
        position: absolute;
        text-shadow: none;
        /*text-shadow: 0 0 6px #F7C21B;*/
        top: 49px;
        width: 879px;
        z-index: 1;
    }
    #apDiv7 {
        position: absolute;
        left: 64px;
        top: 607px;
        width: 404px;
        height: 43px;
        z-index: 1;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #666666;
    }

    #apDiv8 {
        position: absolute;
        left: 496px;
        top: 608px;
        width: 476px;
        height: 40px;
        z-index: 1;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #666666;
    }

    #apDiv9 {
        position: absolute;
        left: 17px;
        top: 332px;
        width: 404px;
        height: 88px;
        z-index: 1;
    }

    .ikodiv img {
        margin: 2px;
        float: left;
        text-align: left;
        display: inline-block;
    }

    .ikodiv2 img {
        margin: 2px;
        display: inline-block;
    }

    .ikodivtext {
        display: inline-block;
        margin-top: 10px;
        width: 315px;
        float: left;
        font-family: Geneva, Arial, Helvetica, sans-serif;
        font-size: 14px;

    }

    #apDiv10 {
        position: absolute;
        left: 18px;
        top: 651px;
        width: 404px;
        height: 76px;
        z-index: 1;

    }

    #apDiv11 {
        position: absolute;
        left: 450px;
        top: 652px;
        width: 475px;
        height: 74px;
        z-index: 2;

    }

    #apDiv12 {
        position: absolute;
        left: 434px;
        top: 650px;
        width: 1px;
        height: 542px;
        z-index: 1;
    }

    #apDiv13 {
        position: absolute;
        left: 22px;
        top: 749px;
        width: 401px;
        height: 74px;
        z-index: 1;

    }

    #apDiv14 {
        position: absolute;
        left: 463px;
        top: 750px;
        width: 395px;
        height: 73px;
        z-index: 2;

    }

    #apDiv15 {
        position: absolute;
        left: 20px;
        top: 843px;
        width: 404px;
        height: 74px;
        z-index: 1;

    }

    #apDiv16 {
        position: absolute;
        left: 451px;
        top: 844px;
        width: 476px;
        height: 72px;
        z-index: 1;

    }

    #apDiv17 {
        position: absolute;
        left: 20px;
        top: 936px;
        width: 404px;
        height: 76px;
        z-index: 1;

    }

    #apDiv18 {
        position: absolute;
        left: 461px;
        top: 936px;
        width: 408px;
        height: 75px;
        z-index: 1;

    }

    #apDiv19 {
        position: absolute;
        left: 14px;
        top: 1029px;
        width: 404px;
        height: 75px;
        z-index: 1;

    }

    #apDiv20 {
        position: absolute;
        left: 444px;
        top: 1029px;
        width: 476px;
        height: 78px;
        z-index: 1;

    }
    #apDiv21 {
        position: absolute;
        left: 535px;
        top: 1193px;
        height: 78px;
        z-index: 1;

    }
        #apDiv22 {
        position: absolute;
        left: 94px;
        top: 1195px;
            height: 78px;
        z-index: 1;

    }

#havlu{
    -webkit-box-shadow: 1px 1px 10px 1px #cccccc;
    -moz-box-shadow: 1px 1px 10px 1px #cccccc;
    box-shadow: 1px 1px 10px 1px #cccccc;
    behavior: url(/templates/PIE.htc);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
    -->
    </style>
{% endblock %}
{% block content %}


    <div class="kapsar">

        <div id="apDiv1">
            {% cevir "hiw-giris" %}

        </div>


        <div id="apDiv2">


{#            <img id="havlu" src="/static/images/howitworks/newphoto4.png">#}
    	 <object width="420" height="315">
             <param name="movie" value="http://www.youtube.com/v/QNL7aimk9h8?version=3&amp;hl=en_US&amp;rel=0"></param>
             <param name="allowFullScreen" value="true"></param>
             <param name="allowscriptaccess" value="always"></param>
             <param name="controls" value="0"></param>
             <embed src="http://www.youtube.com/v/QNL7aimk9h8?version=3&amp;hl=en_US&amp;rel=0"
                    type="application/x-shockwave-flash"
                    width="420"
                    height="315"
                    allowscriptaccess="always"
                    allowfullscreen="true">
                    </embed>
         </object>


        </div>

        <div class="ikodiv" id="apDiv3"><img src="/static/images/howitworks/direction.png">

            <div class="ikodivtext">
                {% cevir "hiw01" %}

            </div>
        </div>

        <div id="apDiv4" class="ikodiv"><img src="/static/images/howitworks/mobile1.png">

            <div class="ikodivtext">
                {% cevir "hiw02" %}

            </div>
        </div>


        <div id="apDiv9" class="ikodiv"><img src="/static/images/howitworks/receptionist1.png">

            <div class="ikodivtext">
                {% cevir "hiw03" %}

            </div>
        </div>

        <div id="apDiv5">{% cevir "hiw-nedir-baslik" %}

            <div id="apDiv6">
                <ul>
                    <li>
                        {% cevir "hiw-nedir-1" %}

                    </li>
                    <li>
                        {% cevir "hiw-nedir-2" %}

                    </li>
                </ul>
            </div>

        </div>

        <div id="apDiv7">{% cevir "hiw-evsahibi-olmak" %}</div>

        <div id="apDiv8">{% cevir "hiw-misafir-olmak" %}</div>


        <div id="apDiv10" class="ikodiv"><img src="/static/images/howitworks/Calender.png">

            <div class="ikodivtext">
                {% cevir "hiw04" %}

            </div>
        </div>

        <div id="apDiv13" class="ikodiv2"><img src="/static/images/howitworks/money.png">

            <div class="ikodivtext">
                {% cevir "hiw5" %}

            </div>
        </div>

        <div id="apDiv15" class="ikodiv"><img src="/static/images/howitworks/globe.png">

            <div class="ikodivtext">

                <p>{% cevir "hiw06" %}

                </p>
            </div>
        </div>

        <div id="apDiv17" class="ikodiv2"><img src="/static/images/howitworks/PayPal.png">

            <div class="ikodivtext">
                {% cevir "hiw07" %}

            </div>
        </div>

        <div id="apDiv19" class="ikodiv"><img src="/static/images/howitworks/user.png">

            <div class="ikodivtext">
                {% cevir "hiw08" %}

            </div>
        </div>


        <div id="apDiv12" style="background-color:#FF9900;"></div>


        <div id="apDiv11" class="ikodiv"><img src="/static/images/howitworks/companies.png">

            <div class="ikodivtext">
                {% cevir "hiw09" %}

            </div>
        </div>

        <div id="apDiv14" class="ikodiv2"><img src="/static/images/howitworks/Home.png">

            <div class="ikodivtext">
                {% cevir "hiw10" %}

            </div>
        </div>

        <div id="apDiv16" class="ikodiv"><img src="/static/images/howitworks/view.png">

            <div class="ikodivtext">
                {% cevir "hiw11" %}

            </div>
        </div>

        <div id="apDiv18" class="ikodiv2"><img src="/static/images/howitworks/image2.png">

            <div class="ikodivtext">
                {% cevir "hiw12" %}

            </div>
        </div>
        <div id="apDiv20" class="ikodiv"><img src="/static/images/howitworks/personal.png">

            <div class="ikodivtext">
                {% cevir "hiw13" %}

            </div>
        </div>

        <div id="apDiv21" class="ikodiv">
            <input type="button" class="mavidugme fo20"  onclick="document.location='/{{ LANGUAGE_CODE}}/search'" value="{% trans "Find your place" %}">


        </div>
        <div id="apDiv22" class="ikodiv">
            <input type="button" class="yemyesildugme fo20" onclick="document.location='/{{ LANGUAGE_CODE}}/add_place'"  value="{% trans "Add your place" %}">


        </div>
    </div>


{% endblock %}
