{% extends "base.html" %}
{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.smoothDivScroll-1.1.js"></script>
<script type="text/javascript"> $(window).ready(function(){
    $('#tabs').tabs();
    $sk =$("div#makeMeScrollable");
    $sk.smoothDivScroll({
//                hiddenOnStart:true,
    			autoScroll: "onstart" ,
                autoScrollDirection:'endlessloopright',
    			autoScrollStep: 1,
    			autoScrollInterval: 5,
    			visibleHotSpots: "onstart"
    		});
$('div.scrollingHotSpotRight').bind('mouseleave',function(){$sk.smoothDivScroll("startAutoScroll").smoothDivScroll("option","autoScrollDirection",'endlessloopright')});
$('div.scrollingHotSpotLeft').bind('mouseleave',function(){$sk.smoothDivScroll("startAutoScroll").smoothDivScroll("option","autoScrollDirection",'endlessloopleft')});
$('.scrollableArea .slidiv').bind('mouseenter',function(){$sk.smoothDivScroll('stopAutoScroll')})
$('.scrollableArea .slidiv').bind('mouseleave',function(){$sk.smoothDivScroll('startAutoScroll')})
//    $("#makeMeScrollable").smoothDivScroll({movedToLastElement: function() {$("#makeMeScrollable").smoothDivScroll("startAutoScroll")}});
//    $("#makeMeScrollable").smoothDivScroll({autoScrollIntervalStopped: function() {$("#makeMeScrollable").smoothDivScroll("startAutoScroll")}});
//    $("#makeMeScrollable").smoothDivScroll({movedToFirstElement: function() {$("#makeMeScrollable").smoothDivScroll("startAutoScroll")}});
//    alert('booo')
}); </script>
{% endblock %}
{% block content %}
    <div class="span-24 showcase">



        <h2 class="demoHeaders">Tabs</h2>
      		<div id="tabs">
      			<ul>
      				<li><a href="#tabs-1">First</a></li>
      				<li><a href="#tabs-2">Second</a></li>
      				<li><a href="#tabs-3">Third</a></li>
      			</ul>
      			<div id="tabs-1">        <div id="makeMeScrollable">
      			            <div class="scrollingHotSpotLeft"></div>
      			            <div class="scrollingHotSpotRight"></div>
      			            <div class="scrollWrapper">
      			                <div class="scrollableArea">
      			                    {% for s in slides %}
      			                    <div class="slidiv" style="background-image: url({{ s.gorsel.url }})"></div>
      			                    {% endfor %}
      			                </div>
      			            </div>
      			            <a onclick='$sk.smoothDivScroll("show").smoothDivScroll("startAutoScroll");' href="#"> Start</a>
      			            -
      			            <a onclick='$sk.smoothDivScroll("stopAutoScroll");' href="#">Stop</a>
      			        </div></div>
      			<div id="tabs-2">Phasellus mattis tincidunt nibh. Cras orci urna, blandit id, pretium vel, aliquet ornare, felis. Maecenas scelerisque sem non nisl. Fusce sed lorem in enim dictum bibendum.</div>
      			<div id="tabs-3">Nam dui erat, auctor a, dignissim quis, sollicitudin eu, felis. Pellentesque nisi urna, interdum eget, sagittis et, consequat vestibulum, lacus. Mauris porttitor ullamcorper augue.</div>
      		</div>





    </div>
<div class="span-16">
	The center column
</div>
<div class="span-8 last">
	The last column
</div>

<div class="span-24">
	The footer
</div>
</div>
{% endblock %}
