{% extends "base.html" %}
{% load cevir i18n%}
{% block title%}{% cevir "anasayfa baslik" %}{% endblock %}
{% block metadesc%}{% cevir "anasayfa meta tanim" %}{% endblock %}
{% block metakeywords%}{% cevir "anasayfa meta etiketler" %}{% endblock %}
{% block extrajs %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.smoothDivScroll-1.1.js"></script>#}

    <script type="text/javascript">
        mainpage=1;$(window).ready(function () {gh.init_index()}); slide_timings=[{{ nasil_slide_zaman }}]
    </script>
{% endblock %}
{% block hdrclass %}krm hdrbgindex{% endblock %}
{% block header %}
    <div id="arabar" class="krm">
        <div id="arakutu">
            <div id="aramsj" class="krm"> {% cevir "anasayfa slogan" %}
                <div id="araf">
                    <input id="arainput" type=input value="{% trans "City or Country..." %}"
                           onfocus="this.value=''"/>

                    <div id="aradugme"><span>&nbsp; {% trans "Search" %} &nbsp;</span></div>
                </div>
            </div>
            <div id="mhtabela" class='krm'>
                <div class="hdr"><b>{% trans "Help Desk" %}</b></div>
                <div class="shdr">{% trans "Mon - Sat" %} 09:00 - 18:00 <span style="font-size:9px">(GMT+2)</span></div>
                <div class="tkutu tel"> &nbsp; +90232 4627278</div>
                <div id="askquestion" class="tkutu dst"><span>{% trans "I have a question?" %}</span></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div id="vitrin" class="span-24 showcase">


    <div id="tabs">
    <ul>
        <li class="gritab krm" id="tabli1" onmousedown="gh.makeScroller(0)"><a href="#tabs-0">&nbsp;</a></li>
        <li class="gritab alttab krm"  onmousedown="gh.makeScroller(1)"><a href="#tabs-1">{% cevir "ganishow 2" %}</a></li>
        <li class="gritab alttab krm"  onmousedown="gh.makeScroller(2)"><a href="#tabs-2">{% cevir "ganishow 3" %}</a></li>
        <li id="howitworks" onmousedown="gh.playvideo()">
            <div><a href="#tabs-4">
                {% blocktrans with '<span></span>' as ganilogo  %}How {{ ganilogo }} works?{% endblocktrans %}
            </a>
            </div>

        </li>
    </ul>
    <div class="tabcontent grit" id="tabs-0"> </div>
    <div class="tabcontent grit" id="tabs-1"> </div>
    <div class="tabcontent grit" id="tabs-2"> </div>
    <div class="tabcontent"  id="tabs-4">
        <div id="likethat">
            <div id="nasilsunum">
                <div class="gizli sunumslide">{% cevir "sunum slide1" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide2" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide3" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide4" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide5" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide6" %}</div>
                <div class="gizli sunumslide">{% cevir "sunum slide7" %}</div>
            </div>
            <div id="nasilvideo">
            </div>
        </div>
    </div>
    </div>
    </div>
        <div class="span-12 shadoblok" id="howmonitordiv">
            <img id="howmonitorimg" src="{{ STATIC_URL }}images/howmonitor.png">
            <div id="howmonitortext">
                <h3 class="oh3">{% trans "Best place rental experience for both hosts and guests!"%}</h3>
                <ul>
                    <li>{% trans "Easier"%}</li>
                    <li>{% trans "Safer"%}</li>
                    <li>{% trans "Faster"%}</li>

                </ul>
                <span><a href="{% url howitworks %}">{% trans "Learn how it works"%} &raquo;</a></span>
            </div>
        </div>
        <div id="minislidercontainer">
        <div id="minislider">

        <ul>
        {% for slide in minislides %}
                <li {% if slide.url %}onclick="document.location='{{ slide.url }}'" style="cursor:pointer"{% endif %}>
                    <img src="{{ slide.gorsel.url }}">
                </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    </div>

    <div id="arabg_cont">
        <div id="arabg">
            <form action="/{{ LANGUAGE_CODE }}/search" method="get">

                <div id="araoneri">
                    <div class="kbaslik">{% trans "Suggestions" %}</div>
                </div>
                <div class="vsplit"></div>
                <div id="aradetay">
                    <input type="hidden" name=query id=id_query>

                    <div class="kbaslik">{% trans "Detailed Search" %}</div>
                    <div class="foge checkinout">
                        <label for="checkin">{{ srForm.checkin.label }}<br>
                            {{ srForm.checkin }}
                    </div>
                    <div class="foge checkinout">
                        <label for="checkout">{{ srForm.checkout.label }}</label><br>
                        {{ srForm.checkout }}
                    </div>
                    <div class="foge noofguest">
                        <label for="no_of_guests">{{ srForm.no_of_guests.label }}</label><br>
                        {{ srForm.no_of_guests }}
                    </div>
                    <div class="foge placetype">
                        <label for="fiyat">{% trans "Place Type" %}</label><br>
                        {{ srForm.placeType }}
                    </div>
                    <div class="foge pricebar">
                        <label for="fiyat">{% trans "Price" %}</label><br>
                        <input type="hidden" name=pricerange id=pricerange>

                        <div id="pricediv"></div>
                        <input type="text" id="pmin" class="pRangeBox" value="20">
                        <input type="text" id="pmax" class="pRangeBox" value="500">
                    </div>
                    {#                <div id="ayintiliAraDugme"><span>Ayrıntılı Ara</span></div>#}


                </div>
            </form>
        </div>
    </div>
    <div id="questbox">
        <div id="questboxdiv"><form action="{% url contact_box %}" method="post">
        <h4>{% trans "Feel free to ask any question you have" %}</h4>
            {% csrf_token %}
    <input class="innput" id="fullname" name="fullname" value="{% trans "Name" %}">
    <input class="innput" id="email" name="email" value="{% trans "E-mail" %}">
    <textarea class="innput" name='msg' id="msg">{% trans "Enter your message" %}</textarea>
    <input type="submit" class="minidugme" value="{% trans "Send" %}">
        </form>
        </div>
    </div>

{% endblock %}
{% block footmessage %}{% cevir "altmetin index" %}{% endblock %}
