{% extends "content.html" %}
{% load i18n cevir%}
{% block content %}
    <div class="dortkutu">
        <div class="kutuici">


            <h3>{% cevir "giris form baslik" %}</h3>





            <form action="." method="post" id="addplaceform">


                <div class="loginform forms autocenter" >

                    {{ form.as_ul }}
                    <button class="yesildugme fo16">{% trans "Login" %}</button>
                    <label class="ramlabel normallabel" for="remember_me">{% trans "Remember  Me" %}</label>
                    <input type="checkbox" id="remember_me" name="remember_me">
                    <input type="hidden" id="next" name="next" value="{{ request.GET.next }}">


                </div>

                <div class="orline" ></div>
                <div class="or">{% trans "or" %}</div>
                <div class="orline" ></div>
                {% csrf_token %}
            </form>

                <div style="width:100;text-align:center;">
                    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
          <input class="fbbutton"  onclick="F.connect(this.parentNode); return false;" type="submit" value="{% trans "Login with Facebook" %}">
           <input type="hidden" id="next" name="next" value="{{ request.REQUEST.next }}">
            </form>
                </div>

            <iframe src="http://www.facebook.com/plugins/facepile.php?app_id={{ FACEBOOK_APP_ID }}&amp;width=500&amp;max_rows=1" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:500px; height:80px;" allowTransparency="true"></iframe>

        </div>
    </div>

    <div id="uyeol" class="ikikutu">

        <h3>{% cevir "giris sag blok mini kayit form baslik" %}</h3>
        <hr>

        <div id="uyekapsar" >
            <p style="margin:-10px 10px 10px 10px;">

{% cevir "giris sag blok mini kayit form ustyazi" %}
            </p>
            <form action="{% url register %}" method="post">
                {% csrf_token %}
        <div class="sideform2 separate">
                <label for="id_first_name">{{ rform.first_name.label }}</label><br>
                {{ rform.first_name }}
            </div>
            <div class="sideform2">
                <label for="id_last_name">{{ rform.last_name.label }}</label><br>
                {{ rform.last_name }}
            </div>

        <div class="sideform2 separate" style="width:98%;   ">
                <label for="id_email">{{ rform.email.label }}</label><br>
                {{ rform.email }}
            </div>

        <div class="sideform2 separate">
                <label for="id_pass1">{{ rform.pass1.label }}</label><br>
                {{ rform.pass1 }}
            </div>
            <div class="sideform2">
                <label for="id_pass2">{{ rform.pass2.label }}</label><br>
                {{ rform.pass2 }}
            </div>

            <button class="yesildugme fo11">{% trans "Register" %}</button>
                                <div id="regtosdiv"><label id="regtoslabel" class="ramlabel normallabel" for="regtoscheck">{% trans "I accept the Terms of service" %} </label>

                                <input id="regtoscheck" type="checkbox"  name="accepttos">

                                <input type="hidden" id="next" name="next" value="{{ request.GET.next    }}">
                                </div>
</form>
        <div class="orline" ></div>
        <div class="or">{% trans "or" %}</div>
        <div class="orline" ></div>

        <div class="yuzz float-left" style="text-align:center;">
            <form action="{% url facebook_connect %}?facebook_login=1" method="post">
            <input type="submit" onclick="F.connect(this.parentNode); return false;" class="minifbbutton" value="{% trans "Connect with Facebook" %}">
<input type="hidden"  name="next" value="{{ request.REQUEST.next }}">
            </form>
            </div>


        </div>

    </div>

{% endblock %}
{% block closebody %}
    <div id="fb-root"></div>
    <script src="{{ STATIC_URL }}js/facebook.js" type="text/javascript"></script>
    <script>
        facebookAppId = '{{ FACEBOOK_APP_ID }}';
        facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
        staticUrl = '{{ STATIC_URL }}';
        function facebookJSLoaded(){
            FB.init({appId: facebookAppId, status: false, cookie: true, xfbml: true, oauth: true});
        }
        window.fbAsyncInit = facebookJSLoaded;
        F = new facebookClass(facebookAppId);
        F.load();
    </script>


{% endblock %}
