{% extends "content.html" %}
{% load i18n %}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <div class="altiOkutu">
        <div class="kutuici">


                <div style="height:350px;width:680px;padding-top:70px;">
                    <img style="float:left;" src="{{ STATIC_URL }}images/homeg.png" >
                <div style="float:left;margin-left: 20px; width: 500px;">
                    <div class="triangle-border left">
                    <h3>Taşınıyoruz!..</h3>
		 	En çok 1-2 saat içerisinde yeni sunucumuzdan hizmet vermeye devam edeceğiz.
		                        <br><br>

			Anlayışınız için teşekkür ederiz.
			<br>GaniHomes Ailesi
                    </div>
                </div>

                </div>
            </div>
                        </div>


{% endblock %}
