{% extends "content.html" %}
{% load i18n thumbnail currency%}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <div class="altiOkutu">
        <div class="kutuici">

            <div class="iblock" >

            <div style="background-color:#fff;" class="bookpart">
                <h3>{% trans "Confirm your order" %}</h3>

                <form action="" method="post">
                    <table>
                        <tr>
                            {{ form.as_table }}
                            <td colspan="2" align="right"><input type="submit" value="confirm" /></td>
                        </tr>
                    </table>
                </form>


            </div>



            </div>
        </div>
    </div>



{% endblock %}
