{% extends "content.html" %}
{% load i18n cevir%}
{% block extrajs %}
{#<script>$(document).ready(function(){gh.login_init()})</script>#}
{% endblock %}
{% block content %}
    <div class="altiOkutu">
        <div class="kutuici">

            <div class="iblock" >

            <div style="background-color:#fff;" class="bookpart">
                <h3>{% cevir "paypal odeme basarili baslik" %}</h3>

                {% cevir "paypal odeme basarili ustyazi" %}

    {{ request.REQUEST }}
            </div>



            </div>
        </div>
    </div>



{% endblock %}
