{% extends "content.html" %}
{% load i18n cevir%}
{% block content %}
    <div class="dortkutu">
        <div class="kutuici">


            <h3>{% cevir "kayit form baslik" %}</h3>

            {% cevir "kayit form ustyazi" %}Facebook hesabınızla  ya da eposta adresinizi girerek bir kaç dakikada GaniHomes'a üye olabilirsiniz.



            <form action="." method="post" id="addplaceform">


                <div class="regform forms autocenter" >

                    <div class="forms2 separate">
                                 <label for="id_first_name">{{ form.first_name.label }}</label><br>
                                 {{ form.first_name }}
                             </div>
                             <div class="forms2">
                                 <label for="id_last_name">{{ form.last_name.label }}</label><br>
                                 {{ form.last_name }}
                             </div>
                           <div class="float-left" style="width:600px">
                         <div class="forms2 separate" style="width:60%">
                                 <label for="id_email">{{ form.email.label }}</label><br>
                                 {{ form.email }}
                             </div></div>

                         <div class="forms2 separate">
                                 <label for="id_pass1">{{ form.pass1.label }}</label><br>
                                 {{ form.pass1 }}
                             </div>
                             <div class="forms2">
                                 <label for="id_pass2">{{ form.pass2.label }}</label><br>
                                 {{ form.pass2 }}
                             </div>
                         <div class="float-left yuzz txtcnt">
                             </div>
                    <div style="width:100%;margin-left:30px;" class="iblock">
                    <button class="yesildugme fo16">{% trans "Register" %}</button>
                                        <div id="regtosdiv" style="left: -200px;"><label id="regtoslabel" class="ramlabel normallabel" for="regtoscheck">{% trans "I accept the Terms of service" %} </label>

                                        <input id="regtoscheck" type="checkbox"  name="accepttos">

                                        <input type="hidden" id="next" name="next" value="{{ next    }}">
                                        </div>

                    </div>


                </div>
                {% csrf_token %}
                            </form>

                <div class="orline" ></div>
                <div class="or">ya da</div>
                <div class="orline" ></div>

                 <div style="width:100%;text-align:center;">
                     <form action="{% url facebook_connect %}?facebook_login=1" method="post">
                                 <input type="submit" onclick="F.connect(this.parentNode); return false;" class="fbbutton" value="{% trans "Connect with Facebook" %}">
                     <input type="hidden"  name="next" value="{{ next }}">
                                 </form>

                 </div>





        </div>
    </div>

    <div class="ikikutu">

    <h3>{% trans "Already registered?" %}</h3>
    <hr>

                <div id="uyekapsar">
                    <form action="{% url login %}" method="post">
                                <input type="hidden" name="next" value="{{ next }}">
                                {% csrf_token %}
                    <p style="margin:-10px 10px 10px 10px;">Aşağıdaki formu doldurarak ya da mevcut Facebook hesabınızı kullanarak GaniHomes'a birkaç dakika içerisinde üye olabilirsiniz.
                    </p>

                <div class="sideform2 separate" style="width:98%;">
                        <label for="id_email">{{ lform.login_email.label }}</label><br>
                        {{ lform.login_email }}
                    </div>

                <div class="sideform2 separate"  style="width:98%;">
                        <label for="id_pass1">{{ lform.login_pass.label }}</label><br>
                        {{ lform.login_pass }}
                    </div>
                <div class="float-left yuzz txtcnt">
                <button class="yesildugme fo11">{% trans "Login" %}</button> <a class="fr" href="{% url password_reset %}">{% trans "Forgot password?" %}</a>
                    </div>


        </form>
                <div class="orline" ></div>
                <div class="or">yada</div>
                <div class="orline" ></div>

                <div class="yuzz float-left" style="text-align:center;">
                    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
                                                     <input type="submit" onclick="F.connect(this.parentNode); return false;" class="minifbbutton" value="{% trans "Login with Facebook" %}">
                                         <input type="hidden"  name="next" value="{{ next }}">
                                                     </form>

                    </div>
                </div>

    </div>



{% endblock %}

{% block closebody %}
    <div id="fb-root"></div>
    <script src="{{ STATIC_URL }}js/facebook.js" type="text/javascript"></script>
    <script>
        facebookAppId = '{{ FACEBOOK_APP_ID }}';
        facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
        staticUrl = '{{ STATIC_URL }}';
        function facebookJSLoaded(){
            FB.init({appId: facebookAppId, status: false, cookie: true, xfbml: true, oauth: true});
        }
        window.fbAsyncInit = facebookJSLoaded;
        F = new facebookClass(facebookAppId);
        F.load();
    </script>


{% endblock %}








