{% extends "content.html" %}
{% load i18n cevir thumbnail %}
{% block content %}
    <form action="." method=get id='search_form'>
        <div class="altikutu">

            <div id="place-conatiner" class="sresults">
                <div id="araust">

                    <div>
                        <label>{{ form.query.label }}</label><br>
                        {{ form.query }}</div>

                    <div><label>{{ form.checkin.label }}</label><br>
                    {{ form.checkin }}</div>
                    <div><label>{{ form.checkout.label }}</label><br>
                    {{ form.checkout }}</div>
                    <div><label>{{ form.no_of_guests.label }}</label><br>
                    {{ form.no_of_guests }}</div>
                    <div><label>&nbsp;</label><br>
                    <button type="button" id="submit">{% trans "Search" %}</button>
                    </div>
                </div>
                <script type="text/x-jqote-template" id="wideResultsTpl">
                                        <![CDATA[



                                        <li>
                                            <div class="pimg">
                                                <img src="{{ STATIC_URL }}/yuklemeler/place_photos/<%=this.id%>_pls.jpg">
                                            </div>
                                            <div class="detail">
                                                <h4><a href="/{{ LANGUAGE_CODE }}/places/<%=this.id%>"><%=this.tt%></a></h4>
                                                <%=this.ci%> - <%=this.di%>, <%=COUNTRIES[this.co]%><br>
                                                <%=SPACE_TYPES[this.typ]%> / <%=PLACE_TYPES[this.spc]%><br>
                                                <img class="ownimg" src="{{ STATIC_URL }}/yuklemeler/user_photos/<%=this.oid%>_s.jpg">

                                            </div>


                                            <div class="price">
                                                <div class="gh-prc crc" data-prc="<%=this.prc%>" data-crc="<%=this.cid%>">
                                                <%=this.price%>
                                                </div>

                                            </div>
                                            <div class="ratingdiv"><div class="rating star<%=this.or%>"></div></div>
                                        </li>
                                        ]]>
                                    </script>
                <ul id="resul">


{#                    {% for s in results %}#}
{#                        <li>`#}
{#                            <div class="pimg">#}
{#                                <img src="{% thumbnail s.primary_photo 120x100 crop %}">#}
{#                            </div>#}
{#                            <div class="detail">#}
{#                                <h4><a href="{% url show_place s.id %}">{{ s.title }}</a></h4>#}
{#                                {{ s.city }} - {{ s.district }}, {{ s.get_country_display }}<br>#}
{#                                {{ s.get_type_display }} / {{ s.get_space_display }}<br>#}
{#                                <img class="ownimg" src="{% thumbnail s.owner.get_profile.photo 0x30 crop=scale %}">#}
{##}
{#                            </div>#}
{##}
{##}
{#                            <div class="price">#}
{#                                {{ s.price }} {{ s.currency }}#}
{#                                <div class="rating star{{ s.overall_rating}}"></div>#}
{#                            </div>#}
{##}
{#                        </li>#}
{##}
{#                    {% endfor %}#}
                </ul>

            </div>
        </div>


        <div class="ikikutu">
            <div class="iblock" style="min-height:300px;" id="sidesearch">
                <div class="sstitle"> ::. {% trans "Place Type" %}</div>
                <div class="foge placetype ssp">

                    {{ form.placeType }}
                </div>
                <div class="sstitle"> ::. {% trans "Nightly Price" %}</div>
                <div class="foge pricebar ssp">

                    <input type="hidden" name=pricerange id=pricerange>

                    <div id="pricediv"></div>
                    <input type="text" id="pmin" class="pRangeBox" value="20">
                    <input type="text" id="pmax" class="pRangeBox" value="500">
                </div>

                <div class="sstitle"> ::. {% trans "Amenities" %}</div>
                <div id="amensearch ssp">
                    <ul id="amenulsr">
                                              {% for l in amens %}
                                              <li>{{ l.name }}</li>
                                              {% endfor %}
                                          </ul>

                </div>


            </div>


        </div>
    </form>
{% endblock %}
{% block closebody %}

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}
{% block footmessage %}{% cevir "altmetin arama" %}{% endblock %}
