{% extends "content.html" %}
{% load thumbnail i18n%}
{#{% load localeurl_tags %}#}
1{% block extracss %}
<style type="text/css"> @import "{{ STATIC_URL }}datepick/humanity.datepick.css"; </style>
{% endblock %}
{% block extrajs %}
<script>gh_rdts={{ place.reserved_dates|default:"[]" }};gh_prcs={{ place.prices|default:"{}" }};</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/gh_{{ LANGUAGE_CODE }}.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}datepick/jquery.datepick-{{ LANGUAGE_CODE }}.js"></script>#}
{#<script>$(document).ready(function(){gh.showPlaceInit()})</script>#}
{% endblock %}
{% block content %}
    <div class="altikutu">

    <div id="place-conatiner">
        <div id="place-title">
            <div id="titlediv">{{ place.title }}</div>
            <div id="subtitlediv">{{ place.city}} - {{ place.district }}, {{ place.get_country_display }}</div>

        </div>

        <div id="placediv">

            <div>

            <div id="toptabs">
                <ul id="ttabul">
                    <li class="ptab"><a href="#pphoto">{% trans "Photos" %}</a></li>
                    <li class="ptab"><a id="uygtab" href="#pcalendar">{% trans "Availablity" %}</a></li>
                    <li class="ptab"><a id="openmap" href="#pmaps">{% trans "Map" %}</a></li>
{#                    {% if place.overall_rating %}#}
{#                    <div class="stardiv rating star{{ place.overall_rating}}" ></div>#}
{#                    {% endif %}#}
                </ul>
                <div id="pphoto">
                    <div id="photoframe">
                        <div id="phimg" style="background:url({% thumbnail place.photo_set.all.0.image 615x400 upscale crop=smart %}) no-repeat center center;"></div>
                    </div>


                <div id="photoslider-left" class="nextpre">&laquo;</div>
                <div id="photoslider_container">

                    <div id="photoslider">
                        {% for p in place.photo_set.all %}
                            <li  class="pthumb"><a href="{% thumbnail p.image 615x400 upscale crop=scale %}"><img  src="{% thumbnail p.image 0x80 upscale crop=scale %}"></a></li>
                        {% endfor %}
                    </div>

                </div>
                <div id="photoslider-right" class="nextpre">&raquo;</div>

                </div>
                <div id="pcalendar">
                <input type="hidden" name="calendar" id="calendarinput">
                    <div id="minDate"></div>
                    <div id="calendar" style="height:550px;width:100%"></div>
                </div>
                <div id="pmaps">
                    <div id="map_canvas"></div>
                    <input type="hidden" value="{{ place.lat }}" id="id_lat">
                    <input type="hidden" value="{{ place.lon }}" id="id_lon">
                </div>
        </div>

    </div>


        </div>








        <div>

               <div id="subtabs">
                   <ul id="stabul">
                       <li class="ptab"><a href="#ack">{% trans "Description" %}</a></li>
                       <li class="ptab"><a href="#amens">{% trans "Amenities" %}</a></li>
                       {% if place.manual or place.rules %}<li class="ptab"><a href="#klv">{% trans "Manual & Rules" %}</a></li>{% endif %}
                   </ul>

                   <div id="ack">
                       <div id="aciklama">{{ place.description|linebreaksbr }}</div>
                       <div id="ozellikler">
                           {% for label, value in properties %}
                               <span class="ozz_label">{{ label }}</span>
                               <span class="ozz_value">{{ value|default:'-' }}</span>
                           {% endfor %}

                       </div>
                   </div>
                   <div id="amens">
                      <ul id="amenul">
                          {% for l in amens %}
                          <li class="{{ l.class }}">{{ l.name }}</li>
                          {% endfor %}
                      </ul>



                   </div>
                   {% if place.manual or place.rules %}
                   <div id="klv">
                       <p>{{ place.rules }}</p>
                       <p>{{ place.manual }}</p>


                   </div>
                   {% endif %}

           </div>

       </div>








</div>
</div>




<div class="ikikutu" id="pricebox">
<form action="{% url book_place %}?express" method="post">
    {% csrf_token %}
    <input type="hidden" name="currencyid" id="currencyid">
    <input type="hidden" name="placeid" id="placeid" value="{{ place.id }}">
    <input type="hidden" name="displayed_price" id="displayed_price">
    <input type="hidden" name="ndays" id="ndays">
<div class="piee fetiket"><div id="placeprice"><span class="gh-prc pr" data-crc="{{ place.currency_id }}" data-prc="{{ place.price  }}" class="pr"></span></div><div  id="placecurrency"><span class="only-crc"></span> / {% trans "night" %}</div></div>
<div id="pricebox-ic">
<div class="pl10 pt10 tsdw2" style="color:#111111;">
    <script>gh.replace_pricetag()</script>
</div>

    <div class="cinout separate">
        <label for="checkin">{% trans "Check-in" %}</label><br>
        {{ bform.checkin }}
    </div>
    <div class="cinout">
        <label for="checkout">{% trans "Check-out" %}</label><br>
        {{ bform.checkout }}
    </div>
    <div class="cinout">
        <label for="no_of_guests">{% trans "Guests" %}</label><br>
        {{ bform.no_of_guests }}
    </div>


    <div id="totalPriceDiv">
    <label class="fl" for="totalPrice">{% trans "Total" %}:</label>
            <span id="totalPrice">
                <span id="totalPriceValue"> 0</span> <span class="only-crc"></span>
            </span>
    </div>
    <hr>
    <div class="align-center"><input type="button" class="dugme2" id="bookitbutton" value="{% trans "Book" %}"></div>
    <div id="info-select-dates" class="warn gizli">{% trans "Please select the check in and check out dates first."%}</div>
    <div id="info-select-valid-dates" class="warn  gizli">{% trans "Those dates are unavailable. Select differend dates or <a href='#looknearby'>look for nearby places</a>."%}</div>
{#    <div id="askus">#}
{#        <h3>Rezervasyon Destek Hattı</h3>#}
{#        <hr>#}
{#        0232 4456565<br>#}
{#                <span id="resHelpSubinfo">Ekibimizden her konuda yardım alabilirsiniz</span>#}
{#     </div>#}
</div>
</form>
</div>


    <div class="ikikutu">
            <button class="minidugme">{% trans "Add to Favorites" %}</button>
            <div class="sepline"></div>

            <ul class="like-buttons">

            <li class="fb-like">
                <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>
            </li>
        <li class="g-plus-one">
            <div class="g-plusone" data-size="medium" data-annotation="none"></div>
        </li>
        <li class="twitter-like">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-count="none">Twt</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </li>

            </ul>


        </div>

    <div class="ikikutu">

    <h3>{% trans "Host" %}</h3>
    <hr><div class="photobig">
        <img src="{% thumbnail profile.photo 200x300 upscale crop=scale %}">
        <br>
        <span>{{ profile.private_name }}</span>
    </div>

        <div class="align-center"><input type="button" class="dugme2" id="contacthost" value="{% trans "Contact with Host" %}"></div>
    </div>
<script>$('#subtabs').tabs();</script>


{% endblock %}
{% block closebody %}

<div id="fb-root"></div>
{% endblock %}
