{% load cevir i18n cache%}
{% cache 99999 slides cachekey%}
<div class="tabborder" id="GVS">
    <div class="scrollingHotSpotLeft"></div>
<div class="scrollingHotSpotRight"></div>
<div class="scrollWrapper">
    <div class="scrollableArea">
        {% for s in slides %}
            {% if not s.thumbs %}
                <div class="slidiv" onclick="document.location='/{{LANGUAGE_CODE}}{{ s.getUrl }}'"
                     style="background-image: url({% if s.gorsel %}{{ s.gorsel.url }}{% else %}{{ STATIC_URL }}/yuklemeler/place_photos/{{ s.place_photo.id }}_l.jpg{% endif %})">
                    <div class="sbaner alpha60">
                        <div class="sbaner-info">{{ s.placeName }} <span class="where">{{ s.place.city}} - {{ s.place.get_country_display }}</span><br>
                            <span style="font-size:smaller">{{ s.place.owner.get_profile.private_name}}</span>

                        </div>
                        <div class="stardiv">
                            <span class="gh-prc crc" data-prc="{{ s.place.price }}"
                                  data-crc="{{ s.place.currency_id }}"></span>
                            {% if s.place.overall_rating %}<div class="stardiv rating star{{ s.place.overall_rating}}" ></div>{% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="slidiv slidiv-thumb" onclick="document.location='/{{LANGUAGE_CODE}}{{ s.getUrl }}'">
                    {% for photo in s.photos %}
                        <div class="thumbphoto"
                             style="background-image: url({{ STATIC_URL }}/yuklemeler/place_photos/{{ s.image.id }}_m.jpg)"></div>
                    {% endfor %}
                    <div class="sbaner alpha60">
                        <div class="sbaner-info">{{ s.placeName }}<br>
                            <span style="font-size:smaller">{{ s.place.owner.get_profile.private_name }}</span>
                        </div>
                        <div class="stardiv">
                            <span class="gh-prc crc" data-prc="{{ s.place.price }}"
                                  data-crc="{{ s.place.currency_id }}"></span>
                            {% if s.place.overall_rating %}<div class="stardiv rating star{{ s.place.overall_rating}}" ></div>{% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{% endcache %}
