{% extends "content_bigboxed.html" %}
{% load i18n cevir%}
{% block extracss %}
    <style type="text/css">
    <!--
    .kapsar {
    	width: 930px;
    	margin-right: auto;
    	margin-left: auto;
    	position: relative;
    }

    .maindiv{
    	display: inline-block;
    	width:850px;
    	margin:10px;
    	padding:30px;
    	font-family:Geneva, Arial, Helvetica, sans-serif;

        -webkit-box-shadow: 1px 1px 5px 1px #cccccc;
        -moz-box-shadow: 1px 1px 5px 1px #cccccc;
        box-shadow: 1px 1px 5px 1px #cccccc;
        behavior: url(/templates/PIE.htc);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }

    .maindiv h3{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:20px;
    	color:#FFCC00;
    }

    .maindiv h4{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:16px;
    	color:#666666;
    	font-weight:bold;
    	padding-top:10px;
    }

    .maindiv h5{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:12px;
    	color: #6D6C6C;
    }

    .resimdiv{
    	background-color:#FF0000;
    	float:left;
    	height:200px;
    	width:200px;
    	margin-right:25px;
    	background-image:url(/static/images/deneme.png);

        -webkit-box-shadow: 1px 1px 10px 1px #cccccc;
        -moz-box-shadow: 1px 1px 10px 1px #cccccc;
        box-shadow: 1px 1px 10px 1px #cccccc;
        behavior: url(/templates/PIE.htc);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }

    .icerikdiv{

    	float:left;
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:14px;
    	width:625px;

    }


    -->
    </style>
{% endblock %}
{% block content %}


    <div class="kapsar">

        	<div class="maindiv" style="background-image:url(/static/images/girisarkaplan3.png); background-repeat:repeat-x;" >
             <h2 style="font-size:20px">{% cevir "tips-baslik" %}</h2>
                {% cevir  "tips-altmetin" %}
          	</div>

      		<div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                <h3>{% cevir  "tips1 evici baslik" %}</h3>

                    {% cevir  "tips1 evici icerik" %}

    			</div>

    		</div>


            <div class="maindiv">

                <div class="resimdiv"></div>

                <div class="icerikdiv">
                    <h3>{% cevir  "tips2 guvenlik baslik" %}</h3>

                        {% cevir  "tips2 guvenlik icerik" %}
                </div>

            </div>

            <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                    <h3>{% cevir  "tips3 rehberlik  baslik" %}</h3>

                        {% cevir  "tips3 rehberlik icerik" %}

    			</div>

    		</div>



          <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                    <h3>{% cevir  "tips4 kurallar  baslik" %}</h3>

                        {% cevir  "tips4 kurallar icerik" %}
    			</div>

    	  </div>

            <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                    <h3>{% cevir  "tips5 ekstralar  baslik" %}</h3>

                        {% cevir  "tips5 ekstralar icerik" %}
    			</div>

    		</div>

          <div class="maindiv">

            	<div class="resimdiv"></div>

            <div class="icerikdiv">

                <h3>{% cevir  "tips6 gorseller  baslik" %}</h3>

                    {% cevir  "tips6 gorseller icerik" %}


    		  </div>

    		</div>









































































        </div>

{% endblock %}
