{% extends "content_bigboxed.html" %}
{% load i18n cevir%}
{% block extracss %}
    <style type="text/css">
    <!--
    .kapsar {
    	width: 930px;
    	margin-right: auto;
    	margin-left: auto;
    	position: relative;
    }

    .maindiv{
    	display: inline-block;
    	width:850px;
    	margin:10px;
    	padding:30px;
    	font-family:Geneva, Arial, Helvetica, sans-serif;

        -webkit-box-shadow: 1px 1px 5px 1px #cccccc;
        -moz-box-shadow: 1px 1px 5px 1px #cccccc;
        box-shadow: 1px 1px 5px 1px #cccccc;
        behavior: url(/templates/PIE.htc);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }

    .maindiv h3{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:20px;
    	color:#FFCC00;
    }

    .maindiv h4{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:16px;
    	color:#666666;
    	font-weight:bold;
    	padding-top:10px;
    }

    .maindiv h5{
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:12px;
    	color: #6D6C6C;
    }

    .resimdiv{
    	background-color:#FF0000;
    	float:left;
    	height:200px;
    	width:200px;
    	margin-right:25px;
    	background-image:url(/static/images/deneme.png);

        -webkit-box-shadow: 1px 1px 10px 1px #cccccc;
        -moz-box-shadow: 1px 1px 10px 1px #cccccc;
        box-shadow: 1px 1px 10px 1px #cccccc;
        behavior: url(/templates/PIE.htc);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }

    .icerikdiv{

    	float:left;
    	font-family:Geneva, Arial, Helvetica, sans-serif;
    	font-size:14px;
    	width:625px;

    }


    -->
    </style>
{% endblock %}
{% block content %}


    <div class="kapsar">

        	<div class="maindiv" style="background-image:url(/static/images/girisarkaplan3.png); background-repeat:repeat-x;" >
             <h2 style="font-size:20px">Ev Sahipleri İçin İp Uçları</h2>
            <h4>“Misafirim benden ne bekler? Ya da ben misafirimden ne isteyebilirim? Bir ev sahibi olarak evimi ve misafirimi nasıl güvende tutabilirim?” diye endişelenmeyi bir kenara 		bırakın. Tüm bu soruların yanıtlarını aşağıda bulabilirsiniz.</h4>
    		<h4>GaniHomes hem sizin hem de misafirinizin güvenliği, memnuniyeti, rahatlığı ve daha çok para kazanabilmeniz için bazı tavsiyelerde bulunuyor.</h4>

          	</div>

      		<div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                <h3>EV İÇİNDE SAĞLAYACAĞINIZ HİZMETLER</h3>

    			<h4>Wireless:</h4>
    			<h5>Misafiriniz seyahati sırasında yanına alacağı diz üstü bilgisayar veya smart phone ile internete bağlanmak isteyebilir. Mekanınızın beş
                yıldızlı otelden ne farkı var ki…</h5>

    			<h4>Temiz Havlu ve Çarşaf:</h4>
    			<h5>Bir misafirin en çok önem verdiği konu, temizlik ve düzendir. Tabi siz bunu daha iyi bilirsiniz.</h5>

    			<h4>CD ve DVD’s:</h4>
    			<h5>Mekanınızda bulunan, küçük de olsa, CD ve DVD arşivi misafirinizin boş zamanını değerlendirmesini sağlar. Hem müzik ruhun gıdasıdır.</h5>

    			<h4>Kırtasiye Malzemeleri ve Diğer Küçük Malzemeler:</h4>
    			<h5>Mekanınızda her an misafirin elinin altında kalem ve kağıt bulunmasında yarar var. Ayrıca eğer mekanınız sigara içilen bir mekansa kül
                tablası ve çakmak da bulundurabilirsiniz.</h5>

    			<h4>Buklet Malzemeleri:</h4>
    			<h5>Sürekli unutulan küçük eşyalar (şampuan, diş fırçası, sabun, vb.)… Dilerseniz üzerine “satılıktır” diye de yazabilirsiniz. Neden
                ekstradan para kazanmayasınız?</h5>

     			<h4>Tek Kullanımlık Terlikler:</h4>
    			<h5>Küçük detay ama büyük RAHATLIK… En azından misafir memnuniyeti.</h5>

    			</div>

    		</div>


            <div class="maindiv">

                <div class="resimdiv"></div>

                <div class="icerikdiv">
                <h3>GÜVENLİK</h3>

    			<h4>Ev Krokisi:</h4>
    			<h5>Evinizin krokisini ve yangın kaçış planını evinizin giriş kapısının arkasına asın. Böylece misafiriniz işinizi ciddiye aldığınızı anlayacaktır.</h5>

    			<h4>Mekana En Yakın Sağlık ve Güvenlik Birimleri:</h4>
                <h5>Misafirinizin acil durumlarda kolaylıkla ulaşabileceği ve mekanınıza en yakın hastaneler, eczaneler, polis karakolları ve acil numaraların (112 Ambulans, 155 Polis
                İmdat, 110 İtfaiye Acil vb.) bir listesini asın.<h5>

    			<h4>Yangın Tüpü:</h4>
                <h5>Mekanınıza yangın tüpü yerleştirerek hem misafirinizin hem de evinizin yangına karşı korunmasını sağlayın.</h5>

    			<h4>Safe Kasası:</h4>
                <h5>Mekanınıza küçük bir safe kasası yerleştirerek misafirlerinizin değerli eşyalarını saklamasını kolaylaştırabilirsiniz. Hem sizin içiniz hem de misafirinizin içi
                rahat olsun.</h5>

    			<h4>Sigorta:</h4>
                <h5>Misafirinizin eşyalarınıza özenli davranacağından eminiz. Ancak insanlık hali, evinizde bir kaza olması durumunda mekanınız için yaptırmış olduğunuz sigorta
                sayesinde zararınızı tazmin edebilirsiniz.</h5>

                </div>

            </div>

            <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                <h3>REHBERLİK</h3>

    			<h4>Şehir Rehberi:</h4>
    			<h5>Turist Bilgi Merkezlerinden alacağınız bedava şehir broşürlerini ve şehir haritasını, en yakın taksi ve otobüs durağı, vapur iskelesi ve metro istasyonu veya en çok            tercih edilen AVM gibi bilgileri içeren bir listeyi evin bir köşesine koyun. Böylece misafiriniz şehrin dört bir köşesinde yaşayacağı unutulmaz anılara daha kolay imza
                atsın.</h5>

    			<h4>En Yakın Restoran ve Marketler:</h4>
    			<h5>Biliriz ki evimizde yediğimiz yemek en güzel yemektir. Bakın, misafirinizi evinde hissettirmenin bir yolu daha!.. Mekanınıza en yakın market, restoran ve fastfood
                yemek yapan yerlerin isim, adres ve telefonlarını içeren bir listesini bırakın. Bu listenin yanında evin yol tarifini ve açık adresini içeren bir yazı bırakmayı sakın
                unutmayın. Televizyon karşısında yemek yemenin keyfi de bir başka tabi.</h5>

    			</div>

    		</div>



          <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                <h3>KURALLAR</h3>

    			<h4>Sözleşme:</h4>
    			<h5>Kendinizi ve mekanınızı güvence altına almak için kendiniz hazırladığınız veya GaniHomes olarak tavsiye ettiğimiz örnek sözleşme metnini misafirinizle karşılıklı
                taraflar olarak imzalayın. Sakın ha sakın sözleşme içerisinde evinizde uyulacak kurallardan bahsetmeyi ve herhangi bir sorunda iletişime geçebilmek için misafirinizden
                kimlik fotokopisi almayı unutmayın.</h5>

    			<h4>Tanıtıcı Yazı:</h4>
    			<h5>Mekanınız tarihi veya içerisinde yaşaması özen isteyen bir ev olabilir. Bu durumu misafirinize açıklamak amaçlı ve içinde uyulması gereken kuralları da içeren
                tanıtıcı bir yazı asmayı unutmayın. Böylece mekanınızda misafirinizin de sizin kadar özenli olmasını sağlayın.</h5>

    			</div>

    	  </div>

            <div class="maindiv">

            	<div class="resimdiv"></div>

                <div class="icerikdiv">

                <h3>EKSTRALAR</h3>

    			<h4>Ekstra Hizmetler:</h4>
    			<h5>Sunacağınız ekstra hizmetlerle (oto kiralama, temizlikçi, havaalanı transferi, vb.) daha fazla para kazanabilirsiniz. Hem misafiriniz bu hizmetleri tanıdık yerden
                temin etmiş olsun hem de siz para kazanmış olun.</h5>

    			<h4>Kahvaltı:</h4>
    			<h5>Misafirinize sunacağınız yöresel veya continental kahvaltı ile gönülleri fethedin. Ücretli veya ücretsiz yine de siz kazanırsınız.</h5>

    			</div>

    		</div>

          <div class="maindiv">

            	<div class="resimdiv"></div>

            <div class="icerikdiv">

                <h3>GÖRSELLER</h3>

    			<h4>Fotoğraflar:</h4>
    			<h5>Mekanınızı kiralamak isteyen Misafir evinizi ilk olarak sitemizdeki fotoğraflarından göreceğinden, mekanınızı en iyi şekilde görüntülemeniz çok önemlidir.</h5>
    			<h5>1- Uygun ışık, fotoğraflarına derinlik ve renk katacaktır. En iyi yöntem fotoğrafları gün ışığında çekmektir, ancak bu mümkün değilse yapay ışıklardan, örneğin
                lambalardan yararlanabilirsiniz. Ayrıca evinizin öğlen, akşamüstü (daha çok güneş batmaya yakın) ve gece saatlerinde fotoğraflarını çekerek, “Benim evim günü her saati
                ayrı bir güzelliğe sahiptir” mesajı verebilirsiniz.</h5>
                <h5>2- Fotoğrafları odanın bir köşesinden çekin: bu perspektiften odanın derinliğini yakalayabilir ve odanın boyutlarını daha iyi gösterebilirsiniz.</h5>
                <h5>3- Evinizdeki her odayı fotoğraflayın: böylece mekanınızın ayrıntılı bir görüntüsünü sunmuş olur ve konuklarınıza ne beklemeleri gerektiğini göstermiş olursunuz.</h5>
                <h5>4- Evinizin diğer dairelerden farklı olabilecek özelliklerini fotoğraflayın, örneğin evinizin manzarası, kullanılabilir bir bahçe, havuz, şömine veya bir balkon.</h5>
                <h5>5- Evinizin bulunduğu şehir ve bölgede yer alan tarihi ve turistik yerlerin fotoğraflarını da ilanlarınızda kullanabilirsiniz. Böylece ülke turizmine de katkıda
                bulunmuş olursunuz.</h5>
                <h5>Haydi, bu 5 maddeyi uygulayın ve listenizi görsel bir ziyafete dönüştürün…</h5>


    			<h4>İyi Bir Liste İçin:</h4>
    		  <h5>- Birçok Fotoğraf: Fazla fotoğrafınızın olması çok daha iyi olur. Fotoğraf sayısının çok olmasıyla ziyaretçiler konaklama hakkında daha çok bilgi sahibi olur ve
              daha fazla soru sormayarak zaman-emek tasarrufu sağlar.</h5>

    			<h5>- Ev Krokisi: İlanlarınıza evinizin bir krokisini de eklerseniz misafir adayınız evinizi hayalinde daha rahat canlandıracaktır.</h5>

    			<h5>- Tam açıklama: Hiçbir bilgiyi eksik bırakmayın. Kendinizi onların yerine koyun ve ne kadar bilgi almak istediğinizi düşünün. Yerel bölge, ulaşım, kültürel binalar
                ve turistik yerler hakkında bilgi verin. Açıklama yazısını yazarken edebi, ağdalı ve uzun cümlelerden kaçının. Anlaşılır ve samimi bir dille yazmaya özen gösterin.</h5>
    			<h5>- Akıllı fiyatlandırma: Eviniz için en iyi fiyata karar verebilmek için evinizin bulunduğu şehir ve konumu çok önemlidir. Aynı bölgedeki diğer evlerle karşılaştırma
                yaparak makul bir fiyat bulabilirsiniz. Ayrıca ilk ilanınızı veriyorsanız tanınmanız açısından fiyatı biraz düşük tutabilir, olumlu değerlendirmeler sonunda fiyatınızı
                kademe kademe yükseltebilirsiniz.</h5>

                <h4>Yabancı Dilde Metin:</h4>
                <h5>Eğer imkanınız varsa, GaniHomes’da yayınladığınız ilanlarınıza Türkçe açıklamalara ek olarak İngilizce’ye ve daha bir çok dile çevrilmiş hallerini de
                koyabilirsiniz. Böylelikle yurtdışından gelecek olan misafirleriniz de eviniz hakkında kolayca bilgi sahibi olabilirler.</h5>


    		  </div>

    		</div>









































































        </div>

{% endblock %}
