{% load  thumbnail i18n cevir%}
{% include "show_messages.html" %}
<div id="genhdr">
    <h3>{% cevir "takvim baslik" %}</h3>
</div>



        <div  class="wfParts genbdy">
            <div class="fl">
            {% cevir "takvim yardim metin" %}
            </div>

            <div style="display:inline-block;">
                <div id="legend">
                    <div class="unavail"></div> <span>{% trans "Unavailable" %}</span>
                    <div class="avail"></div> <span>{% trans "Available" %}</span>
                    <div class="booked"></div> <span>{% trans "Booked" %}</span>
                    <div class="requested"></div> <span>{% trans "Requested" %}</span>
                </div>
                <hr>
                <div id="takvim" style='width:650px'></div>


         </div>

        </div>


<div id="un-avail" title="{% trans "What do these dates?" %}" class="gizli">
    <button onclick="gh.selectAvailDates('avail')" class="minidugme">{% trans "Make Available" %}</button>

    <button onclick="gh.selectAvailDates('unavail')" class="minidugme">{% trans "Make Unavailable" %}</button>
</div>
<script>gh.cal.reserved_dates = {{ reserved_dates }};</script>
