{% load  thumbnail i18n cevir%}
{% include "show_messages.html" %}
<div id="genhdr">
    <div style="float:right">
        <img id="pfotoimg" src="{{ STATIC_URL }}/yuklemeler/user_photos/{{ user.id }}_m.jpg"><br>
        <button onclick="$('#pfoto').trigger('click');" class="minidugme" style="width:100px;">{% trans "Change Photo" %}</button>
        <input id="pfoto" type="file" name="pfoto" style="display:none;">
    </div>
    <h3>{% cevir "profile duzenle baslik" %}</h3>
    {% cevir "profile duzenle altbaslik" %}

</div>



        <div id="genbdy" class="wfParts">
            <form action="." method="post" id="editprofile">
            {% csrf_token %}
            {{ uform.as_p }}
            {{ form.as_p }}
            <p><input type="submit" class="yesildugme fr" value="{% trans "Save" %}"></p>
            </form>
         </div>

