{% extends "dashboard/base.html" %}
{% load  cevir i18n%}
{% block title %} {% cevir "arkadaslar baslik" %} {% endblock %}
{% block content %}


    {% if friends %}
                        <ul class="dugmul">
                            {% for f in friends %}
                                <div class="fl" style="text-align:center;margin:10px">
                                    <h4>{{ f.user.get_profile.private_name }}</h4>
                                                    <div style="height:100px;"><img id="pfotoimg" src="{{ STATIC_URL }}/yuklemeler/user_photos/{{ f.user_id }}_m.jpg"></div><br>
                                                    <button onclick="gh.sendMessage({{ f.user_id }})" class="minidugme" style="width:100px;">{% trans "Send message" %}</button>

                                                </div>
                            {% endfor %}
                        </ul>
                    {% else %}{% trans "You don't have any friends yet." %}<br><br><br>{% endif %}

 {% endblock %}

