{% load  thumbnail i18n cevir%}
{% include "show_messages.html" %}
<div id="genhdr">
    <h3>{% cevir "rezervasyon istekleri baslik" %}</h3>
{#    {% cevir "profile duzenle altbaslik" %}#}

</div>



        <div  class="wfParts genbdy">



                <div id="current">
                <table>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Dates" %}</th>
                        <th>{% trans "Host" %}</th>
                        <th>{% trans "Place" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for r in requests %}
                        <tr>
                        <td>{{ r.get_status_display }}</td>
                        <td>{{ r.start }} <br> {{ r.end }}</td>
                        <td>{{ r.host.get_profile.private_name }}</td>
                        <td><img src="{% thumbnail r.place.primary_photo 80x80 crop=smart %}">
                            <h6>{{ r.place.title|slice:":40" }}</h6>
                        </td>
                            <td><button class="minidugme" onclick="gh.showBookingRequest({{ r.id }})">{% trans "Show Details" %}</button></td>
                        </tr>
                    {% endfor %}
                </table>

                </div>
            </div>

         </div>

