{% extends "dashboard/base.html" %}
{% load  currency cevir i18n %}
{% block title %} {% cevir "mekan yorumla baslik" %} {% endblock %}
{% block content %}

    <form action="." method="post">
        <div class="bookpart">
            <h3>{% trans "Travel details" %}</h3>

            <div id="bookinplace">
                <img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ place.id }}_pls.jpg">
                <span class="booksubtitle">{{ place.title }}</span><br>
                {{ place.city }} - {{ place.district }} {{ place.get_country_display }}
                <br>
                {{ place.get_type_display }} / {{ place.get_space_display }}
                            </div>
            <div id="bookinhost">

            </div>
        </div>

        <div class="bookpart"><h3>{% trans "Travel Details & Pricing" %}</h3>


            <div id="reviewform" class="iblock">

                {{ form.as_ul }}


            </div>
        </div>


        {% csrf_token %}





    </form>

{% endblock %}
