{% extends "dashboard/base.html" %}
{% load  currency cevir i18n %}
{% block title %} {% cevir "misafir yorumla anabaslik" %} {% endblock %}
{% block content %}

    <form action="." method="post" style="width:660px;">
        <div class="bookpart">

            {% if user_review %}
                <input type="hidden" id='readonly'>
                <h3>{% cevir "misafir yorumlanmis baslik" %}</h3>
                <div>{% cevir "misafir yorumlanmis altmetin" %}</div><br><br>
            {% else %}
                <h3>{% cevir "lutfen misafir yorumlayin baslik" %}</h3>
            {% endif %}


            <div style="display:none;" id="rating_hints">{% cevir "puanlama tanimlari" %}</div>
            <div id="reviewform" class="iblock">

                <img id="reviewhostimg" src="{{ STATIC_URL }}/yuklemeler/user_photos/{{ user.id }}_m.jpg">
                <span class="booksubtitle">{{ booking.host.get_profile.full_name }}</span><br>
                <ul style="clear:both;">{{ uform.as_ul }}</ul>

            </div>
            {% if not user_review %}<p><input type="submit" class="yesildugme fr" value="{% trans "Save" %}"></p>{% endif %}
        </div>


        {% csrf_token %}


    </form>

{% endblock %}
