{% load i18n cevir%}
{% include "show_messages.html" %}
<div id="genhdr">
    <h3>{% cevir "gezilerim baslik" %}</h3>
{#    {% cevir "profile duzenle altbaslik" %}#}

</div>



        <div  class="wfParts genbdy">

            <div id="litetabs">
            <ul id="pricetabs">
                <li class="prtab"><a href="#current">{% trans "Current" %}</a></li>
                <li class="prtab"><a href="#upcoming">{% trans "Upcoming" %}</a></li>
                <li class="prtab"><a href="#previous">{% trans "Previous" %}</a></li>
                <li class="prtab"><a href="#bookmarks">{% trans "Bookmarked Places" %}</a></li>

            </ul>

                <div id="current">
                <table>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Dates" %}</th>
                        <th>{% trans "Host" %}</th>
                        <th>{% trans "Place" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for r in current %}
                        <tr>
                        <td>{{ r.get_status_display }}</td>
                        <td>{{ r.start }} <br> {{ r.end }}</td>
                        <td>{{ r.host.get_profile.private_name }}</td>
                        <td><img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ r.place.id }}_plks.jpg">
                            <h6>{{ r.place.title|slice:":40" }}</h6>
                        </td>
                            <td><button class="minidugme" onclick="gh.showBookingRequest({{ r.id }})">{% trans "Show Details" %}</button></td>
                        </tr>
                    {% endfor %}
                </table>

                </div>
                <div id="upcoming">
                <table>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Dates" %}</th>
                        <th>{% trans "Host" %}</th>
                        <th>{% trans "Place" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for r in upcoming %}
                        <tr>
                        <td>{{ r.get_status_display }}</td>
                        <td>{{ r.start }} <br> {{ r.end }}</td>
                        <td>{{ r.host.get_profile.private_name }}</td>
                        <td><img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ r.place.id }}_plks.jpg">
                            <h6>{{ r.place.title|slice:":40" }}</h6>
                        </td>
                        <td><button class="minidugme" onclick="gh.showBookingRequest({{ r.id }})">{% trans "Show Details" %}</button></td>
                        </tr>
                    {% endfor %}
                </table>

                </div>
                <div id="previous">
                <table>
                    <tr>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Dates" %}</th>
                        <th>{% trans "Host" %}</th>
                        <th>{% trans "Place" %}</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for r in previous %}
                        <tr>
                        <td>{{ r.get_status_display }}</td>
                        <td>{{ r.start }} <br> {{ r.end }}</td>
                        <td>{{ r.host.get_profile.private_name }}</td>
                        <td><img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ r.place.id }}_plks.jpg">
                            <h6>{{ r.place.title|slice:":40" }}</h6>
                        </td>
                            <td><button class="minidugme" onclick="gh.showBookingRequest({{ r.id }})">{% trans "Show Details" %}</button></td>
                        </tr>
                    {% endfor %}
                </table>

                </div>
            <div id="bookmarks">
<div class="iblock">
                {% if bookmarks %}
                    <ul class="dugmul">
                        {% for p in bookmarks %}
                            <li style="cursor:pointer" onclick="document.location='{% url show_place   p.id%}'">
                                <img src="{{ STATIC_URL }}/yuklemeler/place_photos/{{ r.place.id }}_plks.jpg">
                                <h6>{{ p.title|slice:":40" }}</h6>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}{% trans "You haven't bookmarked any place yet." %}<br><br><br>{% endif %}
</div>
            </div>

         </div>

