{% load  thumbnail i18n cevir%}
{% include "show_messages.html" %}
<div id="genhdr">
    <h3>{% cevir "mesajlar baslik" %}</h3>
{#    {% cevir "profile duzenle altbaslik" %}#}

</div>



        <div  class="wfParts genbdy">
            {% if rms %}
            <table>
                {% for m in rms %}
                <tr><td>{{ m }}</td></tr>
                {% endfor %}
            </table>
            {% else %}
                <h4>{% trans "No new messages" %}</h4><br><br><br>
            {% endif %}


         </div>

