{% extends "dashboard/base.html" %}
{% load  cevir i18n%}
{% block title %} {% cevir "mesajlar baslik" %} {% endblock %}
{% block content %}


    <div id="inbox-legend" class="full">
        <span class="lnew">{% trans "New" %}</span>
        <span class="lread">{% trans "Read" %}</span>
        <span class="lreplied">{% trans "Replied" %}</span>
    </div>
        <div id="fullinbox">
            {% if msgs %}
                    {% for m in msgs %}
                    <div class="overline" onclick="gh.showMessage({{ m.id }})">
                        <span class="l{{ m.icon }} messageicon"></span>
                        {{ m.line }}
                    </div>
                    {% endfor %}
            {% else %}{% trans "No messages" %}<br><br><br>{% endif %}

        </div>

{% endblock %}
