{% extends "content_bigboxed.html" %}
{% load cevir i18n %}
{% block content %}

    <h3>{% trans "Contact Us" %}</h3>
<div class="iblock" style="padding:40px;">
<div>

    {% cevir "iletisim form ustyazi" %}

</div>

            <br/>
    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div id="contform">
            {{ form.errors }}
            <div><label for="">{% trans "Name" %}</label>
                                    {{ form.first_name.errors }}{{ form.first_name }}

            </div>
            <div><label for="">{% trans "E-mail" %}</label>
                                    {{ form.email.errors }}{{ form.email }}
            </div>
                <div><label for="">{% trans "Phone" %}</label>
                                    {{ form.phone.errors }}{{ form.phone }}

                </div>

                        <div><label for="">{% trans "Subject" %}</label>
                                    {{ form.subject.errors }}{{ form.subject }}
                        </div>

                            <div><label for="">{% trans "Your message" %}</label>
                                    {{ form.message.errors }}{{ form.message }}</div>

            <input id="contactsubmit" class="gridugme" type="submit" name="save" value="{% trans "Send" %}">
        </div>

    </form>

    </div>


{% endblock content %}
