{% load cevir i18n%}


<table width="668" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#F2F2F2">
	<tr>
		<td ><img src="http://www.ganihomes.com/static/images/mail/bgson.png" align="middle"/></td>    
	</tr>
</table>


<table width="668" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#F2F2F2" background="http://www.ganihomes.com/static/images/mail/bg.png">


 <tr>
 <td>
     <table width="650" background="http://www.ganihomes.com/static/images/mail/bggiris30-1.png" border="0" align="center" bordercolor="#F2F2F2" cellspacing="0" style="font-family:Geneva, Arial, Helvetica, sans-serif;">

          <tr  align="center" style="font-size:30px; color:#666666;">

            <td width="400"  align="center">
            	<img src="http://www.ganihomes.com/static/images/mail/logob1.png" align="left" alt="Gani Homes" style="padding-top:2px; padding-left:25px;"/>
            </td>

            <td height="30" colspan="3" cellspacing="1">
            	<a href="http://twitter.com/GaniHomes/"><img src="http://www.ganihomes.com/static/images/mail/twitter30.png" alt="Twitter" align="right" style="padding-right:25px; padding-top:30px;"/></a>
            	<a href="http://facebook.com/GaniHomes"><img src="http://www.ganihomes.com/static/images/mail/facebook30.png" alt="Facebook" align="right" style="padding-right:4px; padding-top:30px;"/></a>
             	<a href="www.ganihomes.com/{{ LANGUAGE_CODE }}/contact_us/"><img src="http://www.ganihomes.com/static/images/mail/email3.png" alt="Mail" align="right" style="padding-right:4px; padding-top:30px;"/></a>
            </td>

          </tr>

        </table>

     {% block container %}{{ content }}{% endblock %}

     <table width="650" height="17" border="0" cellspacing="0" align="center" bordercolor="#F0F0F0" background="http://www.ganihomes.com/static/images/mail/ortabg.png">
     	<tr>
         <td height="17"></td>
         </tr>

     </table>


<table width="650" height="108" border="0" align="center" bordercolor="#E9E9E9" background="http://www.ganihomes.com/static/images/mail/bgsonalt11.png" style="font-family:Geneva, Arial, Helvetica, sans-serif; color:#999999; font-size:14px;">
  <tr>
  	<td width="100" height="104" align="left"><img src="http://www.ganihomes.com/static/images/mail/grighome2.png" style="padding-left:25px; padding-top:8px;" /></td>
    <td align="right" width="160" style="padding-right:30px; padding-top:90px;">© 2011 GaniHomes.com - {% trans "All rights reserved" %}</td>
  </tr>
</table>

</td>
</tr>

</table>

<table width="668" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#F2F2F2">
	<tr>
		<td ><img src="http://www.ganihomes.com/static/images/mail/bgsonalt.png" /></td>    
	</tr>
</table>



