{% extends "mail/mail_base.html" %}
{% load cevir i18n%}


{% block container %}



<table width="650" height="171" border="0" align="center" cellspacing="1" bordercolor="#E9E9E9" style="font-family:Geneva, Arial, Helvetica, sans-serif; background: url(http://www.ganihomes.com/static/images/mail/altbolumbg.png) repeat-y;" >

     <tr align="center">
       <td height="27" colspan="3" cellspacing="0" style="background: url(http://www.ganihomes.com/static/images/mail/ortabg.png) repeat-x;">    </td>
     </tr>

     <tr align="center">
       <td width="100" height="138"></td>

       <td align="center" style="font-size:14px; color:#666666; padding:40px; text-align:left;">


           {% block content %}{{ content }}{% endblock %}

       </td>

       <td width="100"></td>
     </tr>
   </table>


{% endblock %}
