{% extends "mail/mail_base.html" %}
{% load cevir i18n%}


{% block content %}



<table width="650"  border="0" align="center" bordercolor="#F2F2F2" cellspacing="0" style="font-family:Geneva, Arial, Helvetica, sans-serif; background-image:url(http://www.ganihomes.com/static/images/mail/bggiris30-1.png);">

     <tr  align="center" style="font-size:30px; color:#666666;">

       <td width="400"  align="center">
       	<img src="http://www.ganihomes.com/static/images/mail/logob1.png" align="left" style="padding-top:2px; padding-left:25px;"/>
       </td>

       <td height="30" colspan="3" cellspacing="1">
       	<img src="http://www.ganihomes.com/static/images/mail/twitter30.png" align="right" style="padding-right:25px; padding-top:30px;"/>
       	<img src="http://www.ganihomes.com/static/images/mail/facebook30.png" align="right" style="padding-right:4px; padding-top:30px;"/>
        	<img src="http://www.ganihomes.com/static/images/mail/email3.png" align="right" style="padding-right:4px; padding-top:30px;"/>
       </td>

     </tr>

   </table>

   <table width="650" height="171" border="0" align="center" cellspacing="1" bordercolor="#E9E9E9" style="font-family:Geneva, Arial, Helvetica, sans-serif;" >

     <tr align="center">
       <td height="27" colspan="3" cellspacing="0" style="background: url(http://www.ganihomes.com/static/images/mail/ortabg.png) repeat-x;">    </td>
     </tr>

     <tr align="center">
       <td width="150" height="138" style="background: url(http://www.ganihomes.com/static/images/mail/manbg1.png) no-repeat;"><img src="http://www.ganihomes.com/static/images/mail/gani_1-1.png" /></td>
       <td width="328" style="font-family:Geneva, Arial, Helvetica, sans-serif; font-size:18px; color:#7D6713; padding-bottom:5px; background: url(http://www.ganihomes.com/static/images/mail/dunyab.png) no-repeat center;">

       	<p align="left">WORLD IS YOURS...</p>
       	<p align="right">{% cevir "local slogan" %}</p>

       </td>

       <td width="150" style="background-image:url(http://www.ganihomes.com/static/images/mail/womanbg.png);"><img src="http://www.ganihomes.com/static/images/mail/gani_2.png" /></td>
     </tr>
   </table>

   <table width="650" height="299" border="0" cellpadding="1" cellspacing="1" align="center" bordercolor="#EEEEEE" style="background: url(http://www.ganihomes.com/static/images/mail/ortayazi5.png) repeat-y;">

     <tr align="center" style="font-family:Geneva, Arial, Helvetica, sans-serif; font-size:18px; color:#656565; font-weight:bold;">
       <td width="80" rowspan="3">&nbsp;</td>
       <td width="480" height="52">{% cevir "Welcome to GaniHomes" %}</td>
       <td width="80" rowspan="3">&nbsp;</td>
     </tr>

     <tr style="font-family:Geneva, Arial, Helvetica, sans-serif;">
       <td style="font-size:14px; color:#656565; background-color:#FFFFFF; padding:40px;">



           {% blocktrans %}Dear {{ fullname }};{% endblocktrans %}
           <br>
           {% cevir "hosgeldin eposta metni" %}

       </td>
     </tr>
     <tr style="font-family:Geneva, Arial, Helvetica, sans-serif;">
       <td width="480" height="43"></td>
     </tr>
   </table>

   <table width="650" height="17" border="0" cellspacing="0" align="center" bordercolor="#F0F0F0" style="background: url(http://www.ganihomes.com/static/images/mail/ortabg.png) repeat-x;">
   	<tr>
       <td height="17"></td>
       </tr>

   </table>

   <table width="650" height="262" border="0" cellspacing="0" align="center" bordercolor="#F0F0F0" style="font-family:Geneva, Arial, Helvetica, sans-serif; background: url(http://www.ganihomes.com/static/images/mail/altbolumbg.png) repeat-y;">

     <tr border="1" cellspacing="1" style="font-size:16px; color:#999999; font-weight:bold;">
       <td width="118" height="48">&nbsp;</td>
       <td width="202" align="center">Yerinizi Kaydedin</td>
       <td width="204" align="center">Nereye Gideceksiniz?</td>
       <td width="118">&nbsp;</td>
     </tr>

     <tr style="color:#FF9900;" align="center">
     	<td></td>
       <td height="140" style="background: url(http://www.ganihomes.com/static/images/mail/odaresmi1.png) no-repeat center;"></td>
       <td height="140" style="background: url(http://www.ganihomes.com/static/images/mail/odaresmi2.png) no-repeat center;"></td>
       <td></td>
     </tr>

     <tr style="font-size:16px; color:#656565; font-weight:bold;">
       <td height="72">&nbsp;</td>
       <td align="center" style="background: url(http://www.ganihomes.com/static/images/mail/buton.png) no-repeat center;">Mekan Ekle</td>
       <td align="center" style="background: url(http://www.ganihomes.com/static/images/mail/buton.png) no-repeat center;">Mekan Ara </td>
       <td>&nbsp;	</td>
     </tr>
     <tr style="font-size:16px; color:#666666; font-weight:bold;">
       <td height="290" colspan=4 align=center>

   	<a href="http://www.youtube.com/watch?v=QNL7aimk9h8"><img style="border:3px solid #ccc;" src="http://www.ganihomes.com/static/images/mail/vid.jpg"></a>
   	</td>
     </tr>
   </table>


{% endblock %}
