{% extends "content.html" %}
{% load i18n %}
{%block content%}
<center><h3>Destek isteğiniz başarıyla alınmıştır.</h3></center>
<div style="width: 400px; margin-left:auto; margin-right:auto; text-align: center; padding: 5px;" id="transparent" >
<p>Destek isteğinize en kısa zamanda cevap verilecektir.</p>
<p>
Destek sistemini kullandığınız için teşekkür ederiz.
<p>
</div>
<br />
<div style="text-align: center;">
<a href="/">Ana Sayfa</a> - <a href="/bayi-islemleri">Bayi İşlemleri</a> - <a href="/destek/liste">Destek Sistemi</a>
</div>

<b>{{ shop_name }}</b>
{%endblock%}
